#section_footer_5 {
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: none;
    outline-offset: -3px;
    background-image: none;
    background-attachment: scroll;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat
}

#img_bac9_0 {
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    height: 100px
}

#a_e3be_0 {
    border-right: 0px !important
}

#span_01c7_0 {
    font-size: 16px;
    margin-bottom: 20px
}

#ul_01c7_0 {
    margin-top: 10px
}

#a_01c7_0 {
    color: #666;
    font-size: 35px;
    background-color: transparent
}

#a_01c7_1 {
    color: #666;
    font-size: 35px;
    background-color: transparent
}

#a_01c7_2 {
    color: #666;
    font-size: 35px;
    background-color: transparent;
    margin-right: 0px
}

#img_7910_0 {
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    height: 85px
}

#p_7910_0 {
    color: #999;
    font-size: 12px;
    background-color: transparent
}

#div_e8a2_0 {
    padding-top: 40px
}

#span_e8a2_0 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#footer+phone {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#span_e8a2_1 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#a_e8a2_0 {
    color: #062867;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none
}

#img_98b3_0 {
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    height: 100px
}

#p_98b3_0 {
    color: #999;
    font-size: 12px;
    background-color: transparent
}

#span_ff06_0 {
    font-size: 16px;
    margin-bottom: 40px
}

#ul_ff06_0 {
    margin-top: 10px
}

#a_ff06_0 {
    color: #666;
    font-size: 35px;
    background-color: transparent
}

#a_ff06_1 {
    color: #666;
    font-size: 35px;
    background-color: transparent
}

#a_ff06_2 {
    color: #666;
    font-size: 35px;
    background-color: transparent;
    margin-right: 0px
}

#div_501a_0 {
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px -3px 0px 0px inset;
    outline-offset: -3px;
    background-image: none;
    background-attachment: scroll;
    background-color: #fff;
    background-size: auto;
    background-repeat: repeat
}

#img_501a_0 {
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    height: 125px
}

#a_501a_0 {
    color: #062867;
    font-weight: 400;
    font-size: 15px;
    text-transform: none
}

#a_501a_1 {
    color: #062867;
    font-weight: 400;
    text-transform: none;
    font-size: 15px
}

#a_501a_2 {
    color: #062867;
    font-weight: 400;
    text-transform: none;
    font-size: 15px
}

#a_501a_3 {
    color: #062867;
    font-weight: 400;
    text-transform: none;
    font-size: 15px
}

#ui-id-99 {
    color: #062867;
    font-weight: bold;
    font-size: 15px
}

#i_501a_0 {
    vertical-align: middle
}

#ui-id-99 {
    color: #062867;
    font-size: 15px;
    font-weight: bold
}

#i_501a_1 {
    vertical-align: middle
}

#div_501a_1 {
    padding: 40px 0px;
    text-align: right;
    line-height: 25px
}

#span_501a_0 {
    color: #7f7f7f;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    background-color: transparent
}

#ui-id-99 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#ui-id-99 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#span_501a_1 {
    color: #7f7f7f;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    background-color: transparent
}

#div_2c22_0 {
    padding: 85px 0px;
    box-shadow: none;
    outline-offset: -3px;
    background: url(/images/thank-you2.jpg) no-repeat scroll #F3F3F3;
    background-size: cover;
    background-position: bottom
}

#p_2c22_0 {
    color: #444;
    font-size: 28px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 900;
    background-color: transparent;
    text-transform: uppercase
}

#p_2c22_1 {
    color: #444;
    font-size: 16px;
    font-family: 'Open Sans';
    background-color: transparent
}

#p_2c22_2 {
    color: #444;
    font-size: 16px;
    font-family: 'Open Sans';
    background-color: transparent
}

#ui-id-99 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#ui-id-99 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#a_2c22_0 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#p_2c22_3 {
    color: #444;
    font-size: 16px;
    font-family: 'Open Sans';
    background-color: transparent
}

#a_2c22_1 {
    color: #062867
}

#a_2c22_2 {
    font-weight: 700
}

#a_2c22_3 {
    font-weight: 700
}

#p_2c22_4 {
    font-style: italic
}

#div_6e8d_0 {
    padding: 100px 0px;
    background: url('/images/contact-background-2d52a818.jpg') center center
}

#div_6e8d_1 {
    padding-top: 45px;
    font-size: 28px;
    font-weight: 900;
    font-family: 'PT Sans', sans-serif;
    color: #fff
}

#p_6e8d_0 {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #fff
}

#div_6e8d_2 {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #fff
}

#div_6e8d_3 {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #fff
}

#ui-id-99 {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none
}

#ui-id-99 {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none
}

#div_6e8d_4 {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #fff
}

#a_6e8d_0 {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none
}

#div_6e8d_5 {
    box-shadow: none;
    outline-offset: -3px
}

#div_6e8d_6 {
    padding-top: 20px;
    padding-bottom: 5px;
    box-shadow: none;
    background-image: none;
    background-attachment: fix;
    background-color: #eee;
    background-size: auto;
    background-repeat: repeat
}

#div_6e8d_7 {
    margin-top: 12px;
    font-size: 28px;
    font-weight: 900;
    font-family: 'PT Sans', sans-serif;
    color: #333
}

#div_6e8d_8 {
    padding: 8px 20px
}

#span_6e8d_0 {
    font-size: 10.2px
}

#span_6e8d_1 {
    font-size: 10.2px
}

#section_testimonials_3 {
    padding-top: 10px;
    padding-bottom: 50px;
    box-shadow: none;
    outline-offset: -3px;
    background: #f3f3f3
}

#p_6e8d_1 {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    color: #7f7f7f
}

#h5_6e8d_0 {
    font-family: 'PT Sans', sans-serif;
    color: #7f7f7f
}

#img_6e8d_0 {
    padding-top: 30px;
    max-width: 100%
}

#div_0948_0 {
    padding: 250px 0px;
    box-shadow: none;
    outline-offset: -3px;
    background: url(/images/developer-abdaa399.jpg) center center;
    background-size: cover;
    text-align: center
}

#h1_0948_0 {
    font-family: 'PT Sans', sans-serif;
    color: #fff
}

#h4_0948_0 {
    font-family: 'PT Sans', sans-serif;
    color: #fff
}

#button_0948_0 {
    display: block;
    margin: auto;
    max-width: 275px;
    margin-top: 20px
}

#a_0948_0 {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none
}

#img_0948_0 {
    width: 100%
}

#p_0948_0 {
    text-align: left
}

#h4_0948_1 {
    text-align: left
}

#p_0948_1 {
    text-align: left
}

#h4_0948_2 {
    text-align: left
}

#p_0948_2 {
    text-align: left
}

#img_0948_1 {
    width: 80%
}

#img_0948_2 {
    width: 80%
}

#img_0948_3 {
    width: 80%
}

#img_0948_4 {
    width: 80%
}

#img_0948_5 {
    width: 80%
}

#img_0948_6 {
    width: 100%
}

#div_0948_1 {
    text-align: left;
    padding: 0px 0 20px
}

#hr_0948_0 {
    margin-top: 25px !important
}

#div_0948_2 {
    text-align: left;
    padding: 0px 0 20px
}

#img_0948_7 {
    width: 100%
}

#hr_0948_1 {
    margin-top: 25px !important
}

#img_0948_8 {
    width: 100%
}

#div_0948_3 {
    text-align: left;
    padding: 0px 0 20px
}

#p_0948_3 {
    text-align: left
}

#p_0948_4 {
    text-align: left
}

#a_0948_1 {
    color: #062867
}

#embed_0948_0 {
    min-height: 275px
}

#ui-id-99 {
    color: #062867;
    font-weight: bold;
    font-size: 15px
}

#div_df2e_0 {
    color: #777;
    text-align: left
}

#h4_df2e_0 {
    font-weight: 500;
    color: #333
}

#a_df2e_0 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#ui-id-99 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#ui-id-99 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#a_df2e_1 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#div_ea19_0 {
    padding: 250px 0px;
    box-shadow: none;
    outline-offset: -3px;
    background: url(/images/amandari-bg-6b8b70d3.jpg) center center;
    background-size: cover;
    text-align: center
}

#h1_ea19_0 {
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    text-transform: uppercase
}

#h4_ea19_0 {
    font-family: 'PT Sans', sans-serif;
    color: #fff
}

#button_ea19_0 {
    display: block;
    margin: auto;
    max-width: 275px;
    margin-top: 20px
}

#a_ea19_0 {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none
}

#section_testimonials_3 {
    padding-top: 10px;
    padding-bottom: 50px;
    box-shadow: none;
    outline-offset: -3px;
    background: #f3f3f3
}

#p_ea19_0 {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    color: #7f7f7f
}

#h5_ea19_0 {
    font-family: 'PT Sans', sans-serif;
    color: #7f7f7f
}

#img_ea19_0 {
    padding-top: 30px;
    max-width: 100%
}

#h2_ea19_0 {
    color: #333;
    font-size: 28px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 900;
    background-color: transparent;
    text-transform: uppercase
}

#a_ea19_1 {
    background: #337ab7 !important;
    border: 1px solid #0a508c
}

#a_ea19_2 {
    background: #337ab7 !important;
    border: 1px solid #0a508c;
    max-width: 50px !important
}

#div_ea19_1 {
    padding: 100px;
    background: url('/images/drop-office-8988a0cc.jpg') center center
}

#div_ea19_2 {
    padding-top: 45px;
    font-size: 28px;
    font-weight: 900;
    font-family: 'PT Sans', sans-serif;
    color: #fff
}

#h2_ea19_1 {
    color: #fff !important
}

#p_ea19_1 {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #fff
}

#div_ea19_3 {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #fff
}

#div_ea19_4 {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #fff
}

#ui-id-99 {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none
}

#ui-id-99 {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none
}

#div_ea19_5 {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #fff
}

#a_ea19_3 {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none
}

#div_ea19_6 {
    box-shadow: none;
    outline-offset: -3px
}

#div_ea19_7 {
    padding-top: 20px;
    padding-bottom: 5px;
    box-shadow: none;
    background-image: none;
    background-attachment: fix;
    background-color: #eee;
    background-size: auto;
    background-repeat: repeat
}

#div_ea19_8 {
    margin-top: 12px;
    font-size: 28px;
    font-weight: 900;
    font-family: 'PT Sans', sans-serif;
    color: #333
}

#div_ea19_9 {
    margin-right: 20px;
    color: #777
}

#div_ea19_10 {
    padding: 8px 20px
}

#span_ea19_0 {
    font-size: 10.2px
}

#span_ea19_1 {
    font-size: 10.2px
}

#div_ca31_0 {
    padding: 85px 0px;
    box-shadow: none;
    outline-offset: -3px;
    background: url(/images/thank-you2.jpg) no-repeat scroll #F3F3F3;
    background-size: cover;
    background-position: bottom
}

#p_ca31_0 {
    color: #444;
    font-size: 28px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 900;
    background-color: transparent;
    text-transform: uppercase
}

#p_ca31_1 {
    color: #444;
    font-size: 16px;
    font-family: 'Open Sans';
    background-color: transparent
}

#p_ca31_2 {
    color: #444;
    font-size: 16px;
    font-family: 'Open Sans';
    background-color: transparent
}

#a_ca31_0 {
    font-weight: 700
}

#a_ca31_1 {
    font-weight: 700
}

#p_ca31_3 {
    font-style: italic
}

#div_1bbb_0 {
    padding: 100px 0px;
    box-shadow: none;
    outline-offset: -3px;
    background: 
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    url(/images/picjumbo.com_IMG_9102-1920x1068.jpg) no-repeat scroll #fbfbfb;
    background-position: top;
    background-size: cover;

}

#h1_1bbb_0 {
    color: #fff;
    text-transform: uppercase
}

#h3_1bbb_0 {
    color: #fff
}

#p_1bbb_0 {
    color: #fff;
    font-size: 16px
}

#p_1bbb_1 {
    color: #fff;
    font-size: 16px
}

#div_1bbb_1 {
    padding-top: 30px;
    padding-bottom: 5px;
    box-shadow: none;
    background-image: none;
    background-attachment: fix;
    background-color: #eee;
    background-size: auto;
    background-repeat: repeat
}

#div_1bbb_2 {
    margin-right: 10px;
    line-height: 32px
}

#div_1bbb_3 {
    margin-right: 20px;
    color: #777
}

#section_testimonials_3 {
    padding-top: 10px;
    padding-bottom: 50px;
    box-shadow: none;
    outline-offset: -3px;
    background: #f3f3f3
}

#p_1bbb_2 {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    color: #7f7f7f
}

#h5_1bbb_0 {
    font-family: 'PT Sans', sans-serif;
    color: #7f7f7f
}

#img_1bbb_0 {
    padding-top: 30px;
    max-width: 100%
}

#div_1bbb_4 {
    padding: 150px;
    background: url(/images/amenities-bg-44ff09d7.jpg) no-repeat scroll #fbfbfb;
    background-position: top;
    background-size: cover
}

#div_a2ed_0 {
    padding: 85px 0px;
    box-shadow: none;
    outline-offset: -3px;
    background: url(/images/thank-you2.jpg) no-repeat scroll #F3F3F3;
    background-size: cover;
    background-position: bottom
}

#p_a2ed_0 {
    color: #444;
    font-size: 28px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 900;
    background-color: transparent;
    text-transform: uppercase
}

#p_a2ed_1 {
    color: #444;
    font-size: 16px;
    font-family: 'Open Sans';
    background-color: transparent
}

#a_a2ed_0 {
    font-weight: 700
}

#a_a2ed_1 {
    font-weight: 700
}

#p_a2ed_2 {
    color: #444;
    font-size: 16px;
    font-family: 'Open Sans';
    background-color: transparent
}

#ui-id-99 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#ui-id-99 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#a_a2ed_2 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#div_7d11_0 {
    padding: 100px 0px;
    box-shadow: none;
    outline-offset: -3px;
    background: url(/images/picjumbo.com_IMG_9102-1920x1068.jpg) no-repeat scroll #fbfbfb;
    background-position: top;
    background-size: cover
}

#h1_7d11_0 {
    color: #fff;
    text-transform: uppercase
}

#h3_7d11_0 {
    color: #fff
}

#p_7d11_0 {
    color: #fff;
    font-size: 16px
}

#p_7d11_1 {
    color: #fff;
    font-size: 16px
}

#div_7d11_1 {
    padding-top: 30px;
    padding-bottom: 5px;
    box-shadow: none;
    background-image: none;
    background-attachment: fix;
    background-color: #eee;
    background-size: auto;
    background-repeat: repeat
}

#div_7d11_2 {
    margin-right: 10px;
    line-height: 32px
}

#div_7d11_3 {
    margin-right: 20px;
    color: #777
}

#section_testimonials_3 {
    padding-top: 10px;
    padding-bottom: 50px;
    box-shadow: none;
    outline-offset: -3px;
    background: #f3f3f3
}

#p_7d11_2 {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    color: #7f7f7f
}

#h5_7d11_0 {
    font-family: 'PT Sans', sans-serif;
    color: #7f7f7f
}

#img_7d11_0 {
    padding-top: 30px;
    max-width: 100%
}

#div_7d11_4 {
    padding: 150px;
    background: url(/images/amenities-bg-44ff09d7.jpg) no-repeat scroll #fbfbfb;
    background-position: top;
    background-size: cover
}

#div_2034_0 {
    color: #777;
    text-align: left
}

#div_94c5_0 {
    padding: 250px 0px;
    box-shadow: none;
    outline-offset: -3px;
    background: url(/images/amandari-pool-f97953c6.jpg) center center;
    background-size: cover;
    text-align: center
}

#h1_94c5_0 {
    font-family: 'PT Sans', sans-serif;
    color: #fff
}

#h4_94c5_0 {
    font-family: 'PT Sans', sans-serif;
    color: #fff
}

#a_94c5_0 {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none
}

#button_94c5_0 {
    display: block;
    margin: auto;
    max-width: 275px;
    margin-top: 20px
}

#img_94c5_0 {
    width: 100%
}

#p_94c5_0 {
    text-align: left
}

#p_94c5_1 {
    text-align: left
}

#p_94c5_2 {
    text-align: left
}

#img_94c5_1 {
    width: 20%
}

#img_94c5_2 {
    width: 20%
}

#img_94c5_3 {
    width: 20%
}

#img_94c5_4 {
    width: 20%
}

#img_94c5_5 {
    width: 100%
}

#img_94c5_6 {
    width: 100%
}

#div_94c5_1 {
    text-align: left !important;
    padding-right: 5px
}

#h4_94c5_1 {
    text-align: center
}

#p_94c5_3 {
    text-align: center
}

#div_94c5_2 {
    text-align: left !important
}

#h4_94c5_2 {
    text-align: center
}

#img_94c5_7 {
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none
}

#img_94c5_8 {
    width: 20%
}

#img_94c5_9 {
    width: 20%
}

#img_94c5_10 {
    width: 20%
}

#img_94c5_11 {
    width: 20%
}

#ui-id-98 {
    color: #062867;
    font-weight: bold;
    font-size: 15px
}

.gallery-list {
    float: left;
    margin-left: 30px
}

.text-center {
    text-align: center !important
}

#a_d772_0 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#ui-id-99 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#ui-id-99 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#a_d772_1 {
    color: #062867;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none
}

#div_32b9_0 {
    color: #777;
    text-align: left
}