<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget clearfix">

								<img src="{{ site.logo | prepend: site.cdn }}" alt="">
								&nbsp;
								<br/>

								<p>We believe in <strong>Simplified</strong> Real Estate Transactions, <strong>Sound</strong> &amp; <strong>Well Informed</strong> Decisions.</p>

								<div style="background: url('{{ site.cdn}}/canvas/images/world-map.png') no-repeat center center; background-size: 100%;">
									<address>
										<strong>Our Home:</strong><br>
										Hernan Cortes Street, Brgy. Casuntingan<br>
										Mandaue City, CEBU, PH 6014<br>
									</address>
									<abbr title="Broker"></abbr> <strong>Luchelle Ann J. Cabigon</strong>
									<br>
									Licensed Real Estate Broker 
									<br>
									<abbr title="Phone Number"><strong>PRC License #:</strong></abbr> 006014<br>
									<abbr title="Phone Number"><strong>PTR #:</strong></abbr> 0589995<br>
									<abbr title="Phone Number"><strong>Phone:</strong></abbr> (63) 917 631 2463<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> luchelle@cebuhomepages.com
								</div>

							</div>

						</div>

						<div class="col_one_third">

							<div class="widget widget_links clearfix">

								<h4>Site Link</h4>

								<ul>
									<li><a href="{{ site.baseurl }}">Home Page</a></li>
									
								</ul>

							</div>

						</div>

						<div class="col_one_third col_last">

							<div class="widget clearfix">
								<h4>Recent Posts</h4>


								<div id="post-list-footer">
									{% for post in site.categories.blog offset: 0 limit: 3  %}
									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></h4>
											</div>
											<ul class="entry-meta">
												<li>{{ post.date | date_to_string }}</li>
											</ul>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>

						</div>

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								

								<div class="col-md-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Visitors</h5>
								</div>

							</div>

						</div>

						<div class="widget subscribe-widget clearfix">
							<h5><strong>Subscribe</strong> to Our Newsletter to get Real Estate Advise, Latest News and more info.</h5>
							<div id="widget-subscribe-form-result" data-notify-type="success" data-notify-msg=""></div>
							<form id="widget-subscribe-form" action="//cebuhomepages.us8.list-manage.com/subscribe/post?u=851943f628abfb51292daa61b&amp;id=bbc48c996e&c=?" role="form" method="post" class="nobottommargin">
								<div class="input-group divcenter">
									<span class="input-group-addon"><i class="icon-email2"></i></span>
									<input type="email" id="widget-subscribe-form-email" name="EMAIL" class="form-control required email" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
								</div>
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_851943f628abfb51292daa61b_bbc48c996e" tabindex="-1" value=""></div>
							</form>
							<script type="text/javascript">
								$("#widget-subscribe-form").validate({
									submitHandler: function(form) {
										$(form).find('.input-group-addon').find('.icon-email2').removeClass('icon-email2').addClass('icon-line-loader icon-spin');
										$(form).ajaxSubmit({
											data: $(form).serialize(),
											dataType: 'jsonp',
											target: '#widget-subscribe-form-result',
											success: function() {
												$(form).find('.input-group-addon').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');
												$('#widget-subscribe-form').find('.form-control').val('');
												$('#widget-subscribe-form-result').attr('data-notify-type','success');
												$('#widget-subscribe-form-result').attr('data-notify-msg', '<i class=icon-ok-sign></i>Thank you for Subscribing. Sent you a confirmation mail.').html('');
												SEMICOLON.widget.notifications($('#widget-subscribe-form-result'));
											},
											error: function() {
												$(form).find('.input-group-addon').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');
												$('#widget-subscribe-form').find('.form-control').val('');
												$('#widget-subscribe-form-result').attr('data-notify-type','success');
												$('#widget-subscribe-form-result').attr('data-notify-msg', '<i class=icon-ok-sign></i>Thank you for Subscribing. Sent you a confirmation mail.').html('');
												SEMICOLON.widget.notifications($('#widget-subscribe-form-result'));
											}
										});
									}
								});
							</script>
						</div>

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-md-6 clearfix bottommargin-sm">
									<a href="http://fb.me/cebuhomepages" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="http://fb.me/cebuhomepages"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
								</div>
								<div class="col-md-6 clearfix">
									<a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
										<i class="icon-rss"></i>
										<i class="icon-rss"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
								</div>

							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2016 All Rights Reserved by Cebu Home Pages.<br>
						<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="{{ '/privacy-policy/'' | prepend: site.baseurl }}">Privacy Policy</a></div>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
							<a href="http://fb.me/cebuhomepages" class="social-icon si-small si-borderless si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="http://google.com/+Cebuhomepages" class="social-icon si-small si-borderless si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

						</div>

						<div class="clear"></div>

						<i class="icon-envelope2"></i> luchelle@cebuhomepages.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +63-917-631-2463 <span class="middot">&middot;</span> <i class="icon-skype2"></i> cebuhomepages
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<div id="widget-subscribe-listing-form-result" data-toggle="modal" data-target="#mailchimpModal"></div>
					<div class="modal" id="mailchimpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
							<div class="modal-dialog">
								<div class="modal-body">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h4 class="modal-title" id="myModalLabel">Almost There</h4>
										</div>
										<div class="modal-body">
											<h3>One More Step</h3>
											<p>We sent you a confirmation through your email. Kindly click on the confirmation button to proceed with your subscription.</p>

											<p>Thank you and looking forward to meeting you.</p>

											
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<a target="_blank" class="btn btn-primary open-mail-client">Open Mail</a>
										</div>
									</div>
								</div>
							</div>
						</div>