<a href="http://fb.me/cebuhomepages" target="_blank" class="btn waves-effect waves-light btn-small blue white-text regular-text">on Facebook <i class="mdi-action-thumb-up left"></i>
</a>
<a href="mailto:luchelle@cebuhomepages.com" class="btn waves-effect waves-light btn-small green white-text regular-text">luchelle@cebuhomepages.com <i class="mdi-content-send left"></i>
</a>
<a href="tel:+639176312463" class="btn waves-effect waves-light btn-xsmall green white-text regular-text">0917 631 2463 <i class="mdi-communication-message left"></i>
</a>