<!-- Home Section start -->
    <section id="home" class="scroll-section root-sec grey lighten-5 home-wrap">
      <div class="sec-overlay">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-inner">
                  <div class="center-align home-content">
                    <h1 class="home-title">HI! I'm <span>{{ site.owner.nickname }}</span></h1>
                    <h2 class="home-subtitle">{{ site.owner.service }}</h2>
                    <h3 class="home-subtitle">I'm a {{ site.owner.job }}</h3>
                    <a href="#contact" class="hire-me-btn btn waves-effect waves-light btn-large green white-text regular-text">Contact Me <i class="mdi-content-send left"></i>
                    </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .container end -->
        <div class="section-call-to-area">
          <div class="container">
            <div class="row">
              <a href="#blog" class="btn-floating btn-large button-middle section-call-to-btn animated btn-up btn-hidden" data-section="#blog">
                <i class="mdi-navigation-expand-more"></i>
              </a>
            </div>
          </div>
          <!-- .container end -->
        </div>
      </div>
    </section>
    <!-- #home Section end -->