<!-- JavaScripts -->
  <script src="{{ '/js/jquery.min.js' | prepend: site.cdn }}"></script>
  <script src="{{ '/js/jquery.easing.1.3.js' | prepend: site.cdn }}"></script>
  <script src="{{ '/js/detectmobilebrowser.js' | prepend: site.cdn }}"></script>
  <script src="{{ '/js/isotope.pkgd.min.js' | prepend: site.cdn }}"></script>
  <script src="{{ '/js/wow.min.js' | prepend: site.cdn }}"></script>
  <script src="{{ '/js/waypoints.js' | prepend: site.cdn }}"></script>
  <script src="{{ '/js/jquery.counterup.min.js' | prepend: site.cdn }}"></script>
  <script src="{{ '/js/jquery.nicescroll.min.js' | prepend: site.cdn }}"></script>
  <script src="{{ '/libs/owl-carousel/owl.carousel.min.js' | prepend: site.cdn }}"></script>
  <script src="{{ '/libs/materialize/js/materialize.min.js' | prepend: site.cdn }}"></script>
  <script src="{{ '/libs/jwplayer/jwplayer.js' | prepend: site.cdn }}"></script>
  <script src="{{ '/libs/sweetalert/sweet-alert.min.js' | prepend: site.cdn }}"></script>
<!-- build:js js/app.js -->
<script src="{{ '/js/common.js' | prepend: site.cdn }}"></script>

<script src="{{ '/js/main.js' | prepend: site.cdn }}"></script>
{% comment %}
<script src="{{ '/js/jquery.ajaxchimp.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
{% endcomment %}
<!-- endbuild -->
 