{% comment %}
<aside class="single-widget">
	<h2 class="widget-title"> FREE Updates </h2>
    <div class="clearfix card-panel grey lighten-5 cform-wrapper">
      <form action="#" method="post" id="subscribeForm" novalidate>
      	<div><h1 style="color: green">Subscribe to our mailing list. I respect your privacy.</h1></div>
        <div class="input-field">
          <input id="subscribers_email" type="email" name="EMAIL" class="validate input-box" style="color: black">
          <label for="email" class="input-label">Enter Your Email</label>
        </div>
        <div class="input-field submit-wrap clearfix">
          <button type="submit" class="left waves-effect btn-flat green-text submit-btn">Free Updates</button>
          <div class="right form-loader-area">
            <svg class="circular size-20" height="20" width="20">
              <circle class="path" cx="10" cy="10" r="7" fill="none" stroke-width="3" stroke-miterlimit="10"></circle>
            </svg>
          </div>
        </div>
      </form>
    </div>
</aside>
{% endcomment %}

<aside class="single-widget">
  <div class="card lighten-1">
    <form action="#" method="post" id="subscribeForm" novalidate>
    <div class="card-content">
      <span class="card-title" style="color: green;">Free Updates</span>
      <p>Subscribe to our mailing list. I respect your privacy.</p>
      <p class="input-field white">
          <input id="subscribers_email" type="email" name="EMAIL" class="validate input-box">
          <label for="email" class="input-label">Enter Your Email</label>
      </p>
    </div>
    <div class="card-action">
      <button type="submit" class="left waves-effect btn-flat green-text submit-btn">Sign Up!</button>
      <p class="right form-loader-area">
            <svg class="circular size-20" height="20" width="20">
              <circle class="path" cx="10" cy="10" r="7" fill="none" stroke-width="3" stroke-miterlimit="10"></circle>
            </svg>
          </p>
    </div>
  </form>
  </div>
</aside>


