---
layout: null
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    {% include secure-site.html %}

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="@ninjapawikan" />
    <link rel="shortcut icon" href="/assets/4.5.1/images/favicon.ico" >
    

	{% include fb-meta.html %}

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Roboto:300,400,500,700|Rubik:400,600" rel="stylesheet">
	<link rel="stylesheet" href="/assets/4.5.1/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/assets/4.5.1/style.css" type="text/css" />
	<link rel="stylesheet" href="/assets/4.5.1/css/dark.css" type="text/css" />

	<!-- Real Estate Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/assets/4.5.1/demos/real-estate/real-estate.css" type="text/css" />
	<link rel="stylesheet" href="/assets/4.5.1/demos/real-estate/css/font-icons.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="/assets/4.5.1/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/assets/4.5.1/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/assets/4.5.1/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/assets/4.5.1/demos/real-estate/fonts.css" type="text/css" />

	<!-- Bootstrap Select CSS -->
	<link rel="stylesheet" href="/assets/4.5.1/css/components/bs-select.css" type="text/css" />

	<!-- Bootstrap Switch CSS -->
	<link rel="stylesheet" href="/assets/4.5.1/css/components/bs-switches.css" type="text/css" />

	<!-- Range Slider CSS -->
	<link rel="stylesheet" href="/assets/4.5.1/css/components/ion.rangeslider.css" type="text/css" />

	<link rel="stylesheet" href="/assets/4.5.1/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="/assets/4.5.1/css/colors.php?color=2C3E50" type="text/css" />

	<!-- Document Title
	============================================= -->
    <title>Cebu Home Pages | About Us</title>
    {% include fb-wca.html %}
	{% include analytics.html %}

</head>

<body class="stretched side-push-panel">

    	{% include adwords-conversion-tracking.html %}
        {% include fb-sdk.html %}

	<div id="side-panel">

		<div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

		<div class="side-panel-wrap">

			<div class="widget clearfix">

				<h4 class="t400">Login with Social Profiles</h4>

				<a href="#" class="button button-rounded t400 btn-block center si-colored noleftmargin si-facebook">Facebook</a>
				<a href="#" class="button button-rounded t400 btn-block center si-colored noleftmargin si-gplus">Google</a>

				<div class="line"></div>

				<h4 class="t400">Existing Account?</h4>

				<form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">

					<div class="col_full">
						<label for="login-form-username" class="t400">Username:</label>
						<input type="text" id="login-form-username" name="login-form-username" value="" class="form-control" />
					</div>

					<div class="col_full">
						<label for="login-form-password" class="t400">Password:</label>
						<input type="password" id="login-form-password" name="login-form-password" value="" class="form-control" />
					</div>

					<div class="col_full nobottommargin">
						<button class="button button-rounded t400 nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
						<a href="#" class="fright">Forgot Password?</a>
					</div>

				</form>


			</div>

		</div>

	</div>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar" class="full-topbar dark">

			<div class="container clearfix">

				<div class="col_half nobottommargin clearfix">

					<!-- Top Links
					============================================= -->
					<div class="top-links">
						<ul>
							<li><a href="#">All Cities</a>
								<ul>
									<li><a href="#">Cebu City</a></li>
									<li><a href="#">Mandaue</a></li>
									<li><a href="#">Mactan</a></li>
									<li><a href="#">Talisay</a></li>
									<li><a href="#">Consolacion</a></li>
									<li><a href="#">South Cebu</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- .top-links end -->

				</div>

				<div class="col_half fright col_last clearfix nobottommargin">

					<!-- Top Links
					============================================= -->
					<div class="top-links">
						<ul>
							<li class="hidden-sm"><a href="#"><i class="icon-call"></i> +63-917-631-2463</a></li>
							<li class="top-bar-highlight"><a href="#">Sell/Rent your Property</a>
								<div class="top-link-section" style="font-size: 14px;">
									Genuine Clients, 100% Trust Assurance and Lowest Fees on the Market. <a href="#" class="more-link font-secondary" style="border-bottom-style: dotted;">Learn More &rarr;</a>
								</div>
							</li>
							
						</ul>
					</div><!-- .top-links end -->

				</div>

			</div>

		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header" class="full-header dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" data-dark-logo="/assets/4.5.1/demos/real-estate/images/logo.png" class="standard-logo"><img src="/assets/4.5.1/demos/real-estate/images/logo.png" alt="Canvas Logo"></a>
						<a href="index.html" data-dark-logo="/assets/4.5.1/demos/real-estate/images/logo@2x.png" class="retina-logo"><img src="/assets/4.5.1/demos/real-estate/images/logo@2x.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="with-arrows">

						<ul>
							<li class="current"><a href="#"><div>Home</div></a></li>
							<li><a href="/about"><div>About Us</div></a></li>
							<li><a href="#"><div>Properties</div></a>
								<ul>
									<li><a href="#"><div>Condo Apartments</div></a></li>
									<li><a href="#"><div>House and Lot</div></a></li>
								</ul>
							</li>
							<li><a href="#"><div>Developers</div></a></li>
							<li><a href="#"><div>Services</div></a></li>
							<li><a href="#"><div>News</div></a></li>
							<li><a href="#"><div>Contact</div></a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-mini">
                
                <div class="container clearfix">
                    <h1>About Us</h1>
                    <span>Everything you need to know about our Company</span>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">About Us</li>
                    </ol>
                </div>
    
            </section><!-- #page-title end -->
    
            <!-- Content
            ============================================= -->
            <section id="content">
    
                <div class="content-wrap">
    
                    <div class="container clearfix">
    
                        <div class="col_full">
    
                            <div class="heading-block center nobottomborder">
                                <h2>Interactive Office Environment</h2>
                                <span>We value Work Ethics &amp; Environment as it helps in creating a Creative Thinktank</span>
                            </div>
    
                            <div class="fslider" data-pagi="false" data-animation="fade">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide"><a href="#"><img src="http://canvashtml-cdn.semicolonweb.com/images/about/4.jpg" alt="About Image"></a></div>
                                        <div class="slide"><a href="#"><img src="http://canvashtml-cdn.semicolonweb.com/images/about/5.jpg" alt="About Image"></a></div>
                                        <div class="slide"><a href="#"><img src="http://canvashtml-cdn.semicolonweb.com/images/about/6.jpg" alt="About Image"></a></div>
                                        <div class="slide"><a href="#"><img src="http://canvashtml-cdn.semicolonweb.com/images/about/7.jpg" alt="About Image"></a></div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                        <div class="col_one_fourth center" data-animate="bounceIn">
                            <i class="i-plain i-xlarge divcenter nobottommargin icon-users"></i>
                            <div class="counter counter-large" style="color: #3498db;"><span data-from="100" data-to="8465" data-refresh-interval="50" data-speed="2000"></span></div>
                            <h5>Clients Served</h5>
                        </div>
    
                        <div class="col_one_fourth center" data-animate="bounceIn" data-delay="200">
                            <i class="i-plain i-xlarge divcenter nobottommargin icon-code"></i>
                            <div class="counter counter-large" style="color: #e74c3c;"><span data-from="100" data-to="56841" data-refresh-interval="50" data-speed="2500"></span></div>
                            <h5>Lines of Code</h5>
                        </div>
    
                        <div class="col_one_fourth center" data-animate="bounceIn" data-delay="400">
                            <i class="i-plain i-xlarge divcenter nobottommargin icon-briefcase"></i>
                            <div class="counter counter-large" style="color: #16a085;"><span data-from="100" data-to="2154" data-refresh-interval="50" data-speed="3500"></span></div>
                            <h5>No. of Projects</h5>
                        </div>
    
                        <div class="col_one_fourth center col_last" data-animate="bounceIn" data-delay="600">
                            <i class="i-plain i-xlarge divcenter nobottommargin icon-cup"></i>
                            <div class="counter counter-large" style="color: #9b59b6;"><span data-from="100" data-to="874" data-refresh-interval="30" data-speed="2700"></span></div>
                            <h5>Cups of Coffee</h5>
                        </div>
    
                        <div class="clear"></div>
    
                        <div class="promo promo-light bottommargin">
                            <h3>Call us today at <span>+91.22.57412541</span> or Email us at <span>support@canvas.com</span></h3>
                            <span>We strive to provide Our Customers with Top Notch Support to make their Theme Experience Wonderful</span>
                            <a href="#" class="button button-xlarge button-rounded">Start Browsing</a>
                        </div>
    
                        <div class="heading-block center">
                            <h2>Canvas Thinktank</h2>
                            <span>Our Team Members who have contributed immensely to our Growth</span>
                        </div>
    
                        <div class="row clearfix">
    
                            <div class="col-md-6 bottommargin">
                                <div class="team team-list clearfix">
                                    <div class="team-image">
                                        <img src="http://canvashtml-cdn.semicolonweb.com/images/team/3.jpg" alt="John Doe">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title"><h4>John Doe</h4><span>CEO</span></div>
                                        <div class="team-content">
                                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                        </div>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-6 bottommargin">
                                <div class="team team-list clearfix">
                                    <div class="team-image">
                                        <img src="http://canvashtml-cdn.semicolonweb.com/images/team/2.jpg" alt="Josh Clark">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title"><h4>Josh Clark</h4><span>Co-Founder</span></div>
                                        <div class="team-content">
                                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                        </div>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-6 bottommargin">
                                <div class="team team-list clearfix">
                                    <div class="team-image">
                                        <img src="http://canvashtml-cdn.semicolonweb.com/images/team/8.jpg" alt="Mary Jane">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title"><h4>Mary Jane</h4><span>Sales</span></div>
                                        <div class="team-content">
                                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                        </div>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-6 bottommargin">
                                <div class="team team-list clearfix">
                                    <div class="team-image">
                                        <img src="http://canvashtml-cdn.semicolonweb.com/images/team/4.jpg" alt="Nix Maxwell">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title"><h4>Nix Maxwell</h4><span>Support</span></div>
                                        <div class="team-content">
                                            <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                                        </div>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                    </div>
    
                    <div class="section topmargin-sm footer-stick">
    
                        <h4 class="uppercase center">What <span>Clients</span> Say?</h4>
    
                        <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
                            <div class="flexslider">
                                <div class="slider-wrap">
                                    <div class="slide">
                                        <div class="testi-image">
                                            <a href="#"><img src="http://canvashtml-cdn.semicolonweb.com/images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                                        </div>
                                        <div class="testi-content">
                                            <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                                            <div class="testi-meta">
                                                Steve Jobs
                                                <span>Apple Inc.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="testi-image">
                                            <a href="#"><img src="http://canvashtml-cdn.semicolonweb.com/images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                                        </div>
                                        <div class="testi-content">
                                            <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                                            <div class="testi-meta">
                                                Collis Ta'eed
                                                <span>Envato Inc.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="testi-image">
                                            <a href="#"><img src="http://canvashtml-cdn.semicolonweb.com/images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                                        </div>
                                        <div class="testi-content">
                                            <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                                            <div class="testi-meta">
                                                John Doe
                                                <span>XYZ Inc.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>
    
                </div>
    
            </section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_fifth">

						<div class="widget clearfix">

							<img src="/assets/4.5.1/demos/real-estate/images/logo@2x.png" style="position: relative; opacity: 0.85; left: -10px; max-height: 80px; margin-bottom: 20px;" alt="Footer Logo">

							<p>We believe in <strong>Simplified</strong>, <strong>Real Estate Transactions,</strong> &amp; <strong>Sound</strong> Well Informed Decisions.</p>

							<div class="line" style="margin: 30px 0;"></div>

							<p class="ls1 t300" style="opacity: 0.6; font-size: 13px;">Copyrights &copy; 2018 Cebu Home Pages</p>

						</div>

					</div>

					<div class="col_three_fifth col_last">

						<div class="col_half">
							<div class="row">

								<h4 class="ls1 t400 uppercase">Popular Locations</h4>

								<div class="col-xs-6 bottommargin-sm widget_links widget_real_estate_popular">
									<ul>
                                        <li><a href="#"><i class="icon-map-marker2"></i> Cebu Business Park</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> Lahug</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> North Reclamation</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> Talamban</a></li>
                                        <li><a href="#"><i class="icon-map-marker2"></i> Lapu-Lapu City</a></li>
                                        <li><a href="#"><i class="icon-map-marker2"></i> Guadalupe</a></li>
									</ul>
								</div>

								<div class="col-xs-6 bottommargin-sm widget_links widget_real_estate_popular">
									<ul>
										<li><a href="#"><i class="icon-map-marker2"></i> Mandaue City</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> SRP</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> Cebu IT Park</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> Talisay City</a></li>
                                        <li><a href="#"><i class="icon-map-marker2"></i> Consolacion</a></li>
                                        <li><a href="#"><i class="icon-map-marker2"></i> Mabolo</a></li>
									</ul>
								</div>

							</div>
						</div>

						<div class="col_half col_last">

							<h4 class="ls1 t400 uppercase">Connect Socially</h4>

							<div class="bottommargin-sm clearfix">
								<a href="https://facebook.com/cebuhomepages" class="social-icon si-colored si-small si-rounded si-facebook" title="Facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="https://twitter.com/cebuhomepages" class="social-icon si-colored si-small si-rounded si-twitter" title="Twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="https://instagram.com/cebuhomepages" class="social-icon si-colored si-small si-rounded si-instagram" title="Instagram">
									<i class="icon-instagram"></i>
									<i class="icon-instagram"></i>
								</a>

								<a href="https://skype.com/cebuhomepages" class="social-icon si-colored si-small si-rounded si-skype" title="Skype">
									<i class="icon-skype"></i>
									<i class="icon-skype"></i>
								</a>
							</div>

							<div class="widget subscribe-widget subscribe-form clearfix" data-loader="button">
								<div class="widget-subscribe-form-result"></div>
								<form action="include/subscribe.php" role="form" method="post" class="nobottommargin">
									<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="sm-form-control not-dark required email" placeholder="Enter your Email">
									<button class="button button-3d button-black noleftmargin norightmargin" style="margin-top: 15px;" type="submit">Subscribe</button>
								</form>
							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="/assets/4.5.1/js/jquery.js"></script>
	<script type="text/javascript" src="/assets/4.5.1/js/plugins.js"></script>

	<!-- Google Map JavaScripts
	============================================= -->
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAO2BYvn4xyrdisvP8feA4AS_PGZFxJDp4"></script>
	<script type="text/javascript" src="/assets/4.5.1/js/jquery.gmap.js"></script>

	<!-- Bootstrap Select Plugin -->
	<script type="text/javascript" src="/assets/4.5.1/js/components/bs-select.js"></script>

	<!-- Bootstrap Switch Plugin -->
	<script type="text/javascript" src="/assets/4.5.1/js/components/bs-switches.js"></script>

	<!-- Range Slider Plugin -->
	<script type="text/javascript" src="/assets/4.5.1/js/components/rangeslider.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
    <script type="text/javascript" src="/assets/4.5.1/js/functions.js"></script>
    
    {% include adwords-remarketing.html %}

</body>
</html>