---
fb:
  image: mandanibay-phase1-650x350.jpg         #650x350

images:
  home:
    popup: mandanibay-phase1-650x350.jpg       #650x350
    thumbnail: mandanibay-phase1-390x280.jpg   #390x280
  card:
    preview: mandanibay-phase1-350x200.jpg     #350x200
  post:
    banner: mandanibay-phase1-750x400.jpg      #750x400

title: Mandani Bay | Master Plan

description: Mandani Bay is a premium mixed-use development in Mandaue City, Cebu. It occupies a waterfront site of approximately 20 hectares with a prominent location between Mactan Island, the home of Cebu International Airport, and Cebu business park, a major commercial area in Cebu.  The project will be developed in phases over more than 10 years.

units: 
  - 800x600: 
      thumbnail: /canvas/images/portfolio/2/1.jpg
      full: /canvas/images/portfolio/full/1.jpg
    type: Studio
    url: #
    sqm: "29.7"
  - 800x600: 
      thumbnail: /canvas/images/portfolio/2/1.jpg
      full: /canvas/images/portfolio/full/1.jpg
    type: 1 Bedroom
    url: #
    sqm: "30.7"
  - 800x600: 
      thumbnail: /canvas/images/portfolio/2/1.jpg
      full: /canvas/images/portfolio/full/1.jpg
    type: 2 Bedroom
    url: #
    sqm: "30.7"
  - 800x600: 
      thumbnail: /canvas/images/portfolio/2/1.jpg
      full: /canvas/images/portfolio/full/1.jpg
    type: 3 Bedroom
    url: #
    sqm: "60.7"
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
{% include secure-site.html %}

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	{% include fb-meta.html %}

	<!-- Favicon-->
 	<link rel="shortcut icon" href="{{ '/canvas/images/icons/favico/mandanibay.png' | prepend: site.cdn }}" >
	
	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/style.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/nivo-slider.css" type="text/css" />

	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="{{ site.cdn }}/canvas/js/jquery.js"></script>
	<script type="text/javascript" src="{{ site.cdn }}/canvas/js/plugins.js"></script>
	<script type="text/javascript" src="{{ site.cdn }}/canvas/js/jquery.nivo.js"></script>

	{% include fb-wca.html %}
	{% include analytics.html %}

	<!-- Document Title
	============================================= -->
	<title>Mandani Bay | Pricing</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<header id="header" class="full-header dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="{{ site.cdn }}/canvas/images/logo-dark.png"><img src="{{ site.cdn }}/canvas/images/logo.png" alt="Mandani Bay"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="{{ site.cdn }}/canvas/images/logo-dark@2x.png"><img src="{{ site.cdn }}/canvas/images/logo@2x.png" alt="Mandani Bay"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul class="one-page-menu">
							<li><a href="{{ site.baseurl }}/l/mandani"><div>Home</div></a></li>
							<li><a a href="{{ site.baseurl }}/l/mandani/master-plan"><div>Master Plan</div></a></li>
							<li class="current"><a href="#"><div>Phase 1</div></a></li>
							<li><a href="{{ site.baseurl }}/l/mandani/pricing"><div>Pricing</div></a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Phase 1</h1>
				<span>Mandani Bay Suites</span>
				<ol class="breadcrumb">
					<li><a href="{{ site.baseurl }}/l/mandani">Home</a></li>
					<li class="active">Phase 1</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<section id="slider" class="slider-parallax" style="background: linear-gradient(rgba(76,175,80, 0.2), rgba(46,125,50, 0.2)), url('{{ site.root.images }}/l/mandani/mbs.jpg'); background-size: cover;" data-height-lg="670" data-height-md="500" data-height-sm="400" data-height-xs="250" data-height-xxs="200">
			<div class="container clearfix">
				<div class="vertical-middle center">

					<div class="heading-block nobottomborder center">
						<h1>
							<div class="text-rotater" data-separator="|" data-rotate="flipInX" data-speed="3500" style="color: white">
								<span class="t-rotate">Desirable|World Class|Cultural</span> Destination of Cebu
							</div>
						</h1>
					</div>

				</div>
			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="row clearfix">

						<div class="col-md-6">

							<h3>Vision</h3>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa repellendus adipisci laborum placeat delectus labore cupiditate deserunt minus numquam consequatur esse, hic at earum illo animi eaque et, dolorem quo qui eos? Quam rerum possimus maxime veniam aut ratione eveniet aliquid cumque aspernatur ipsum libero quaerat, nam. Ad, sunt, error!</p>

						</div>

						<div class="col-md-6">

							<h3>Mission</h3>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa repellendus adipisci laborum placeat delectus labore cupiditate deserunt minus numquam consequatur esse, hic at earum illo animi eaque et, dolorem quo qui eos? Quam rerum possimus maxime veniam aut ratione eveniet aliquid cumque aspernatur ipsum libero quaerat, nam. Ad, sunt, error!</p>

						</div>

					</div>

				</div>

				<div class="section dark bottommargin-lg" style="background-image: url('{{ site.cdn }}/canvas/images/services/home-testi-bg.jpg'); padding: 100px 0;" >

					<div class="container clearfix">

						<div class="col_one_fourth nobottommargin center" data-animate="bounceIn">
							<i class="i-plain i-large divcenter nobottommargin icon-time"></i>
							<div class="counter counter-lined"><span data-from="1" data-to="20" data-refresh-interval="50" data-speed="4000" data-comma="true"></span>+</div>
							<h5>Hectares of Development</h5>
						</div>

						<div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
							<i class="i-plain i-large divcenter nobottommargin icon-code"></i>
							<div class="counter counter-lined"><span data-from="1" data-to="4" data-refresh-interval="1" data-speed="4000" data-comma="true"></span>+&nbsp;Billion</div>
							<h5>Investment</h5>
						</div>

						<div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
							<i class="i-plain i-large divcenter nobottommargin icon-briefcase"></i>
							<div class="counter counter-lined"><span data-from="3" data-to="19" data-refresh-interval="1" data-speed="4000" data-comma="true"></span></div>
							<h5>Towers</h5>
						</div>

						<div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
							<i class="i-plain i-large divcenter nobottommargin icon-dribbble2"></i>
							<div class="counter counter-lined"><span data-from="1" data-to="15" data-refresh-interval="2" data-speed="4000" data-comma="true"></span></div>
							<h5>Development</h5>
						</div>

					</div>

				</div>

			

				<div class="container clearfix">

					<!-- Portfolio Items
					============================================= -->
					<div id="portfolio" class="portfolio-2 clearfix">
					
						{% for unit in page.units %}
						<article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image">
								<a href="{{ unit.url }}">
									<img src="{{ unit.800x600.thumbnail | prepend: site.cdn }}" alt="{{ unit.type }} Unit at {{ unit.sqm }} sqm">
								</a>
								<div class="portfolio-overlay">
									<a href="{{ unit.800x600.full | prepend: site.cdn }}" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									<a href="{{ unit.url }}" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="{{ unit.url }}">{{ unit.sqm }} sqm {{ unit.type }}</a></h3>
								<span>{{ unit.type }} Starts at {{ unit.sqm }} sqm </span>
							</div>
						</article>
						{% endfor %}
					</div>
				</div>
				<div class="clear"></div>

				<a href="{{ site.baseurl }}/l/mandani/pricing/" class="button button-full center tright topmargin footer-stick">
					<div class="container clearfix">
						Pricing <strong>Start here</strong> <i class="icon-caret-right" style="top:4px;"></i>
					</div>
				</a>

			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget clearfix">

								<img src="{{ site.logo | prepend: site.cdn }}" alt="">
								&nbsp;
								<br/>

								<p>We believe in <strong>Simplified</strong> Real Estate Transactions, <strong>Sound</strong> &amp; <strong>Well Informed</strong> Decisions.</p>

								<div style="background: url('{{ site.cdn}}/canvas/images/world-map.png') no-repeat center center; background-size: 100%;">
									<address>
										<strong>Our Home:</strong><br>
										Hernan Cortes Street, Brgy. Casuntingan<br>
										Mandaue City, CEBU, PH 6014<br>
									</address>
									<abbr title="Broker"></abbr> <strong>Luchelle Ann J. Cabigon</strong>
									<br>
									<abbr title="Phone Number"><strong>PRC License #:</strong></abbr> 006014<br>
									<abbr title="Phone Number"><strong>Phone:</strong></abbr> (63) 917 631 2463<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> luchelle@cebuhomepages.com
								</div>

							</div>

						</div>

						<div class="col_one_third">

							<div class="widget widget_links clearfix">

								<h4>Site Link</h4>

								<ul>
									<li><a href="{{ site.baseurl }}">Home Page</a></li>
									
								</ul>

							</div>

						</div>

						<div class="col_one_third col_last">

							<div class="widget clearfix">
								<h4>Recent Posts</h4>


								<div id="post-list-footer">
									{% for post in site.categories.blog offset: 0 limit: 3  %}
									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></h4>
											</div>
											<ul class="entry-meta">
												<li>{{ post.date | date_to_string }}</li>
											</ul>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>

						</div>

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								

								<div class="col-md-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Visitors</h5>
								</div>

							</div>

						</div>

						<div class="widget subscribe-widget clearfix">
							<h5><strong>Subscribe</strong> to Our Newsletter to get Real Estate Advise, Latest News and more info.</h5>
							<div id="widget-subscribe-form-result" data-notify-type="success" data-notify-msg=""></div>
							<form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
								<div class="input-group divcenter">
									<span class="input-group-addon"><i class="icon-email2"></i></span>
									<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<script type="text/javascript">
								$("#widget-subscribe-form").validate({
									submitHandler: function(form) {
										$(form).find('.input-group-addon').find('.icon-email2').removeClass('icon-email2').addClass('icon-line-loader icon-spin');
										// $(form).ajaxSubmit({
										// 	target: '#widget-subscribe-form-result',
										// 	success: function() {
										// 		$(form).find('.input-group-addon').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');
										// 		$('#widget-subscribe-form').find('.form-control').val('');
										// 		$('#widget-subscribe-form-result').attr('data-notify-msg', $('#widget-subscribe-form-result').html()).html('');
										// 		SEMICOLON.widget.notifications($('#widget-subscribe-form-result'));
										// 	}
										// });
									}
								});
							</script>
						</div>

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-md-6 clearfix bottommargin-sm">
									<a href="http://fb.me/cebuhomepages" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="http://fb.me/cebuhomepages"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
								</div>
								<div class="col-md-6 clearfix">
									<a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
										<i class="icon-rss"></i>
										<i class="icon-rss"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
								</div>

							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2016 All Rights Reserved by Cebu Home Pages.<br>
						<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="{{ '/privacy-policy/'' | prepend: site.baseurl }}">Privacy Policy</a></div>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
							<a href="http://fb.me/cebuhomepages" class="social-icon si-small si-borderless si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="http://google.com/+Cebuhomepages" class="social-icon si-small si-borderless si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

						</div>

						<div class="clear"></div>

						<i class="icon-envelope2"></i> luchelle@cebuhomepages.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +63-917-631-2463 <span class="middot">&middot;</span> <i class="icon-skype2"></i> cebuhomepages
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="{{ site.cdn }}/canvas/js/functions.js"></script>

</body>
</html>