---
fb:
  image: mandanibay-phase1-650x350.jpg         #650x350

images:
  home:
    popup: mandanibay-phase1-650x350.jpg       #650x350
    thumbnail: mandanibay-phase1-390x280.jpg   #390x280
  card:
    preview: mandanibay-phase1-350x200.jpg     #350x200
  post:
    banner: mandanibay-phase1-750x400.jpg      #750x400

title: Thank You for Subscribing with Cebu Home Pages

description: Mandani Bay is a premium mixed-use development in Mandaue City, Cebu. It occupies a waterfront site of approximately 20 hectares with a prominent location between Mactan Island, the home of Cebu International Airport, and Cebu business park, a major commercial area in Cebu.  The project will be developed in phases over more than 10 years.

download_link: https://drive.google.com/open?id=0B0MmlHiWG7ScT2V3ZFp6RDJmUzRPbUFvZ3FvYWptb2llTFlB
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{% include secure-site.html %}

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	{% include fb-meta.html %}

	<!-- Favicon-->
 	<link rel="shortcut icon" href="{{ '/canvas/images/icons/favico/mandanibay.png' | prepend: site.cdn }}" >
	
	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/style.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="{{ site.cdn }}/canvas/js/jquery.js"></script>
	<script type="text/javascript" src="{{ site.cdn }}/canvas/js/plugins.js"></script>

	<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
	<script type="text/javascript" src="{{ site.cdn }}/canvas/js/jquery.gmap.js"></script>

	<!-- Document Title
	============================================= -->
	<title>Mandani Bay | Live Your Passion</title>

	{% include fb-wca.html %}
	{% include analytics.html %}

</head>

<body class="stretched">

	{% include adwords-conversion-tracking.html %}
  	{% include fb-sdk.html %}

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<!-- Logo
					============================================= -->
					<div id="logo" class="divcenter">
						<a href="{{ '/l/mandani/' | prepend: site.baseurl }}" class="standard-logo" data-dark-logo="{{ site.cdn }}/canvas/images/logo-dark.png"><img src="{{ site.cdn }}/canvas/images/logo.png" alt="Mandani Bay Logo" class="divcenter"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="{{ site.cdn }}/canvas/images/logo-dark@2x.png"><img src="{{ site.cdn }}/canvas/images/logo@2x.png" alt="Mandani Bay Logo"></a>
					</div><!-- #logo end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="heading-block center nobottomborder">
						<h1>Thank you for your interest.</h1>
						<span>Keep posted for email updates regarding Mandani Bay.</span>
					</div>

					<div class="col_one_third topmargin">
						<div class="feature-box fbox-center fbox-light fbox-plain">
							<div class="fbox-icon">
								<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.cebuhomepages.com/l/mandani/"><i class="icon-share"></i></a>
							</div>
							<h3>Share on FB</h3>
							<p>If you find our site valuable, kindly click and share on your facebook page.</p>
						</div>
					</div>

					<div class="col_one_third topmargin">
						<div class="feature-box fbox-center fbox-light fbox-plain">
							<div class="fbox-icon">
								<a href="{{ page.download_link }}" target="_blank"><i class="icon-download"></i></a>
							</div>
							<h3>Download Full Presentation</h3>
							<p>Click here to download Mandani Bay's Full presentation. Well be updating this also for your convenience.</p>
						</div>
					</div>

					<div class="col_one_third topmargin col_last">
						<div class="feature-box fbox-center fbox-light fbox-plain">
							<div class="fbox-icon">
								<a href="tel:+639176312463"><i class="icon-phone3"></i></a>
							</div>
							<h3>Contact Luchelle</h3>
							<p>If you're viewing this in your phone, you can click to call your broker or You may simply send me an Email at <a href="mailto:luchelle@cebuhomepages.com">luchelle@cebuhomepages.com</a> so I can assist you further.</p>
						</div>
					</div>

				</div>

			</div>

		</section><!-- #content end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="{{ site.cdn }}/canvas/js/functions.js"></script>
{% include adwords-remarketing.html %}
</body>
</html>