---
categories: listing
listing_type: condo
star: 5

fb:
  image: mandanibay-phase1-650x350.jpg         #650x350

images:
  home:
    popup: mandanibay-phase1-650x350.jpg       #650x350
    thumbnail: mandanibay-phase1-390x280.jpg   #390x280
  card:
    preview: mandanibay-phase1-350x200.jpg     #350x200
  post:
    banner: mandanibay-phase1-750x400.jpg      #750x400

title: Mandani Bay thru Cebu Home Pages

description: Mandani Bay is a premium mixed-use development in Mandaue City, Cebu. It occupies a waterfront site of approximately 20 hectares with a prominent location between Mactan Island, the home of Cebu International Airport, and Cebu business park, a major commercial area in Cebu.  The project will be developed in phases over more than 10 years.
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{% include secure-site.html %}

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	{% include fb-meta.html %}

	<!-- Favicon-->
 	<link rel="shortcut icon" href="{{ '/canvas/images/icons/favico/mandanibay.png' | prepend: site.cdn }}" >
	
	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/style.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="{{ site.cdn }}/canvas/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="{{ site.cdn }}/canvas/js/jquery.js"></script>
	<script type="text/javascript" src="{{ site.cdn }}/canvas/js/plugins.js"></script>

	<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
	<script type="text/javascript" src="{{ site.cdn }}/canvas/js/jquery.gmap.js"></script>

	<!-- Document Title
	============================================= -->
	<title>Mandani Bay | Live Your Passion</title>

	{% include fb-wca.html %}
	{% include analytics.html %}

</head>

<body class="stretched" data-loader-timeout="2000">

	{% include adwords-conversion-tracking.html %}
  	{% include fb-sdk.html %}

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header page-section dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="{{ site.cdn }}/canvas/images/logo-dark.png"><img src="{{ site.cdn }}/canvas/images/logo.png" alt="Mandani Bay Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="{{ site.cdn }}/canvas/images/logo-dark@2x.png"><img src="{{ site.cdn }}/canvas/images/logo@2x.png" alt="Mandani Bay Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul class="one-page-menu">
							<li class="current"><a href="#" data-href="#header"><div>Home</div></a></li>
							<li><a href="#" data-href="#section-features"><div>Features</div></a></li>
							<li><a href="#" data-href="#section-pricing"><div>Pricing</div></a></li>
							<li><a href="#" data-href="#section-testimonials"><div>As seen in</div></a></li>
							<li><a href="#" data-href="#section-specs"><div>Specifications</div></a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<section id="slider" class="slider-parallax dark full-screen" style="background: linear-gradient(rgba(76,175,80, 0.2), rgba(46,125,50, 0.2)), url( {{site.cdn}}/canvas/images/landing/hero.jpg) center;">

			<div class="container clearfix">

				<div class="vertical-middle">

					<div class="heading-block center nobottomborder">
						<h1 data-animate="fadeInUp"> A <strong>World Class Destination</strong> rises in <strong>Mandaue</strong></h1>
						<span data-animate="fadeInUp" data-delay="300">A vision on par with the worlds vibrant cultural districts.</span>
					</div>

					<form action="//cebuhomepages.us8.list-manage.com/subscribe/post?u=851943f628abfb51292daa61b&amp;id=0e268a84e0&c=?" method="post" role="form" id="widget-subscribe-listing-form" class="landing-wide-form clearfix">
						<div class="col_four_fifth nobottommargin">
							<div class="col_one_third nobottommargin">
								<input type="text" class="form-control input-lg not-dark" value="" placeholder="Your Name*" name="FNAME">
							</div>
							<div class="col_one_third nobottommargin">
								<input type="email" class="form-control input-lg not-dark" value="" placeholder="Your Email*" name="EMAIL">
							</div>
							<div class="col_one_third col_last nobottommargin">
								<input type="text" class="form-control input-lg not-dark" value="" placeholder="09171234567*" name="MMERGE3">
							</div>
						</div>
						<div class="col_one_fifth col_last nobottommargin">
							<button class="btn btn-lg btn-primary btn-block nomargin" value="submit" type="submit" style=""><i class="stat-icon"></i></span>&nbsp;<span class="subscribe-text">SUBSCRIBE ME</span></button>
						</div>

						<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_851943f628abfb51292daa61b_0e268a84e0" tabindex="-1" value=""></div>
					</form>
					<script type="text/javascript">
								$("#widget-subscribe-listing-form").validate({
									submitHandler: function(form) {
										$(form).find('button').find('.subscribe-text').html('SUBSCRIBING..')
										$(form).find('button').find('.stat-icon').removeClass('stat-icon').addClass('icon-line-loader icon-spin');
										$(form).ajaxSubmit({
											data: $(form).serialize(),
											dataType: 'jsonp',
											success: function() {
												$(form).find('button').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('stat-icon');

												if( $('body').hasClass('device-lg') || $('body').hasClass('device-md') ){
													var emailClient = "www.gmail.com";
													var emailAddress = $(form).find('input[type=email]').val();
													var idx = emailAddress.lastIndexOf('@');
													if (idx > -1 && emailAddress.slice(idx+1) === 'yahoo.com') {
														emailClient = "www.yahoomail.com";
													  
													}else if (idx > -1 && emailAddress.slice(idx+1) === 'hotmail.com'){
														emailClient = "www.hotmail.com";
													}

													$('#mailchimpModal .open-mail-client').attr('href','//'+emailClient);
												}else{
													$('#mailchimpModal .open-mail-client').attr('href','mailto:');
												}

												$('#mailchimpModal').modal('show');

												$(form).find('button').find('.subscribe-text').html('SUBSCRIBE ME');
												
											},
											error: function(){
												$(form).find('button').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');

												if( $('body').hasClass('device-lg') || $('body').hasClass('device-md') ){
													var emailClient = "www.gmail.com";
													var emailAddress = $(form).find('input[type=email]').val();
													var idx = emailAddress.lastIndexOf('@');
													if (idx > -1 && emailAddress.slice(idx+1) === 'yahoo.com') {
														emailClient = "www.yahoomail.com";
													  
													}else if (idx > -1 && emailAddress.slice(idx+1) === 'hotmail.com'){
														emailClient = "www.hotmail.com";
													}

													$('#mailchimpModal .open-mail-client').attr('href','//'+emailClient);
												}else{
													$('#mailchimpModal .open-mail-client').attr('href','mailto:');
												}

												$('#mailchimpModal').modal('show');

												$(form).find('button').find('.subscribe-text').html('SUBSCRIBE ME');
											}
										});
									}
								});
							</script>

				</div>

				<a href="#" data-scrollto="#section-features" class="one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

			</div>

		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">
				<div class="promo promo-light promo-full bottommargin-lg header-stick notopborder">
					<div class="container clearfix">
						<h3>Call us now at <span>+63.917.6312463</span> or Email at <span>luchelle@cebuhomepages.com</span></h3>
						<span>We are inviting you to our spectacular Show Gallery or you can start by taking a look at the master plan.</span>
						<a href="{{ site.baseurl }}/l/mandani/master-plan" class="button button-dark button-xlarge button-rounded">The Master Plan</a>
					</div>
				</div>

				<div class="container clearfix">

					<div id="section-features" class="heading-block title-center page-section">
						<h2>Features Overview</h2>
						<span>Some of the Features that are gonna blow your mind off</span>
					</div>

					<div class="col_one_third">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn">
								<a href="#"><img src="{{ site.cdn }}/canvas/images/icons/features/bay-front.png" alt="Expertise in Bay front development"></a>
							</div>
							<h3>Expertise in Bay front development</h3>
							<p>Hongkong land developed Marina Bay Financial Center in Singapore. They have an impressive track record in developing world class Bay fronts.</p>
						</div>
					</div>

					<div class="col_one_third">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="200">
								<a href="#"><img src="{{ site.cdn }}/canvas/images/icons/features/retina.png" alt="Spacious and Elegant Units"></a>
							</div>
							<h3>Spacious and Elegant Units</h3>
							<p>Offers huge square spaces. Studio Units starts at 30sqm, bigger than what is offered in the market.</p>
						</div>
					</div>

					<div class="col_one_third col_last">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="400">
								<a href="#"><img src="{{ site.cdn }}/canvas/images/icons/features/consultant.png" alt="Impressive Partners"></a>
							</div>
							<h3>Impressive Partners</h3>
							<p>Consultants working on the project are world class to give an outcome on par with the rest of the world.</p>
						</div>
					</div>

					<div class="clear"></div>

					<div class="col_one_third">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="600">
								<a href="#"><img src="{{ site.cdn }}/canvas/images/icons/features/world-class.png" alt="World Class Inspirations"></a>
							</div>
							<h3>World Class Inspirations</h3>
							<p>Project Concepts are inspired by places around the world. From Marina Bay of Singapore to the Central Park of New York City.</p>
						</div>
					</div>

					<div class="col_one_third">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="800">
								<a href="#"><img src="{{ site.cdn }}/canvas/images/icons/features/developed.png" alt="Developed by a leading property investment, management and development group."></a>
							</div>
							<h3>Developed by a leading property investment, management and development group.</h3>
							<p>Founded in 1889, Hongkong Land’s business is built on excellence, integrity and partnership. In partnership with Taft Properties, a local expert in real estate development. </p>
						</div>
					</div>

					<div class="col_one_third col_last">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="1000">
								<a href="#"><img src="{{ site.cdn }}/canvas/images/icons/features/investment.png" alt="Long Term Investment"></a>
							</div>
							<h3>Long Term Investment</h3>
							<p>The entire project is estimated to be completed in 10 to 15 years, which means your investment will continue to appreciate. This gives you a high potential return.</p>
						</div>
					</div>

					<div class="clear"></div>

					<div class="col_one_third">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="1200">
								<a href="#"><img src="{{ site.cdn }}/canvas/images/icons/features/map.png" alt="Location Location Location"></a>
							</div>
							<h3>Location Location Location</h3>
							<p>In the progressive bay of Zuellig Ave. in Mandaue City, Mandani Bay is a hop, a skip, a drive away from almost anywhere. </p>
						</div>
					</div>

					<div class="col_one_third">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="1400">
								<a href="#"><img src="{{ site.cdn }}/canvas/images/icons/features/seo.png" alt="Elevated Lifestyle"></a>
							</div>
							<h3>Cebu on a Bay View</h3>
							<p>Experience a new perspective of Cebu. Watch the sunset in your warm and cozy home.</p>
						</div>
					</div>

					<div class="col_one_third col_last">
						<div class="feature-box fbox-plain">
							<div class="fbox-icon" data-animate="bounceIn" data-delay="1600">
								<a href="#"><img src="{{ site.cdn }}/canvas/images/icons/features/performance.png" alt="Powerful Performance"></a>
							</div>
							<h3>Elevated Lifestyle</h3>
							<p>Live a life you love. Feel the warmth of home while enjoying a modern living.</p>
						</div>
					</div>


					<div class="clear"></div>

					<div class="divider divider-short divider-center"><i class="icon-circle"></i></div>

					<div id="section-pricing" class="heading-block title-center nobottomborder page-section">
						<h2>Easy Payment Plan </h2>
						<span>Our Easy Payment plan covers you well</span>
					</div>

					<div class="pricing-box pricing-extended bottommargin clearfix">

						<div class="pricing-desc">
							<div class="pricing-title">
								<h3>What do you get for a Studio Unit? </h3>
							</div>
							<div class="pricing-features">
								<ul class="iconlist-color clearfix">
									<li><i class="icon-desktop"></i> Spacious 29.75 sqm Unit</li>
									<li><i class="icon-eye-open"></i> Choice of Bay or Mountain View</li>
									<li><i class="icon-beaker"></i> Progressive Community </li>
									<li><i class="icon-magic"></i> Built with World Class standards</li>
									<li><i class="icon-font"></i> 24x7 Security </li>
									<li><i class="icon-stack3"></i> Close Proximity </li>
									<li><i class="icon-file2"></i> Impressive Property Management </li>
									<li><i class="icon-support"></i> Enjoy the Pool </li>
								</ul>
							</div>
						</div>

						<div class="pricing-action-area">
							<div class="pricing-meta">
								As Low as
							</div>
							<div class="pricing-price">
								<span class="price-unit">&#8369;</span>9,299<span class="price-tenure">monthly for 47mos. + 10% DP</span>
							</div>
							<div class="pricing-action">
								<a href="tel:+639176312463" class="button button-3d button-large btn-block nomargin"><i class="icon-phone3 large"></i>COMPUTATION</a>
							</div>
						</div>

					</div>

					<div class="clear"></div>

				</div>

				<div class="section">

					<div class="container clearfix">

						<div id="section-testimonials" class="heading-block title-center page-section">
							<h2>Have you heard of this project?</h2>
							<span>Here's what people are talking about.</span>
						</div>

						<ul class="testimonials-grid grid-3 clearfix">
							<li>
								<div class="testimonial">
									<div class="testi-image">
										<a href="#"><img src="{{ site.cdn }}/canvas/images/testimonials/finn-carew.png" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>a premium mixed-use development in Mandaue City, Cebu. It occupies a waterfront site of approximately 20 hectares with a prominent location between Mactan Island, the home of Cebu International Airport, and Cebu business park</p>
										<div class="testi-meta">
											Finn Carew
											<span>Chief Representative (Philippines), Hongkong Land</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="testimonial">
									<div class="testi-image">
										<a href="#"><img src="{{ site.cdn }}/canvas/images/testimonials/sunstar.png" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>25 towers with a total of 18,000 condominium units intended for the middle to high-end market. On top of the residential component, the project, which is located in a waterfront site, will also have retail, office, recreational and marina components.</p>
										<div class="testi-meta">
											Sunstar
											<span>sunstar.com.ph</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="testimonial">
									<div class="testi-image">
										<a href="#"><img src="{{ site.cdn }}/canvas/images/testimonials/pna.png" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>An initial investment of PHP4.5 billion will kick off the multi-billion peso 20-hectare Mandani Bay township project, the first waterfront township project along Zuellig Ave. in Mandaue City.</p>
										<div class="testi-meta">
											Philippine News Agency
											<span>pna.gov.ph</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="testimonial">
									<div class="testi-image">
										<a href="#"><img src="{{ site.cdn }}/canvas/images/testimonials/robert-wong.png" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>Mandani’ is the ancient name for Mandaue, which is fitting for our project because it links Mandaue’s heritage with its bright future.  We intend to transform this part of Mandaue into a modern, yet culturally sensitive lifestyle destination. ‘Bay’ is also appropriate as it highlights the waterfront nature of this project.</p>
										<div class="testi-meta">
											Robert Wong
											<span>Executive Directory, Hongkong Land</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="testimonial">
									<div class="testi-image">
										<a href="#"><img src="{{ site.cdn }}/canvas/images/testimonials/the-freeman.png" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>Mandani Bay has already paved its three-hectare property where more than 3,000 delegates of the 51st International Eucharistic Congress Youth Day</p>
										<div class="testi-meta">
											The Freeman
											<span>The Freeman</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="testimonial">
									<div class="testi-image">
										<a href="#"><img src="{{ site.cdn }}/canvas/images/testimonials/gilbert-ang.png" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>We will integrate culture, commerce and community in one area. There is plenty of potential in Cebu because this is a place where people from Luzon and Mindanao converge.</p>
										<div class="testi-meta">
											Theodore Gilbert Ang
											<span>Project Director, Mandani Bay</span>
										</div>
									</div>
								</div>
							</li>
						</ul>

					</div>

				</div>

				<div class="container clearfix">

					<div id="section-specs" class="heading-block title-center page-section">
						<h2>Project Specifications</h2>
						<span>Complete list of the Tech Specifications for your convenience</span>
					</div>

					<div id="side-navigation">

						<div class="col_one_third">

							<ul class="sidenav">
								<li class="ui-tabs-active"><a href="#snav-content1"><i class="icon-screen"></i>Location<i class="icon-chevron-right"></i></a></li>
								<li><a href="#snav-content2"><i class="icon-magic"></i>The Master Plan<i class="icon-chevron-right"></i></a></li>
								<li><a href="#snav-content3"><i class="icon-tint"></i>World Class Inspirations<i class="icon-chevron-right"></i></a></li>
								<li><a href="#snav-content4"><i class="icon-gift"></i>Phase 1 Plan<i class="icon-chevron-right"></i></a></li>
								<li><a href="#snav-content5"><i class="icon-gift"></i>Floor Plan<i class="icon-chevron-right"></i></a></li>
								<li><a href="#snav-content6"><i class="icon-adjust"></i>Unit Specification<i class="icon-chevron-right"></i></a></li>
								<li><a href="#snav-content7"><i class="icon-adjust"></i>Residential Unit Finishes<i class="icon-chevron-right"></i></a></li>
								<li><a href="#snav-content8"><i class="icon-adjust"></i>Features<i class="icon-chevron-right"></i></a></li>
								
							</ul>

						</div>

						<div class="col_two_third col_last">

							<div id="snav-content1">
								<h3>Location is Everything</h3>
								<p>Nested in the very accessible FE Zuellig Avenue, Mandaue City, Cebu, It occupies a waterfront site of approximately 20 hectares with a prominent location between Mactan Island, the home of Cebu International Airport, and Cebu business park, a major commercial area in Cebu.  The project will be developed in phases over more than 10 years.</p>

								<p>Parkmall and S&R, Cebu Doctors University and Singapore International School, UCMed and Chong Hua Hospital, all within full accessibility.</p>

								<div id="google-map4" style="height: 250px; margin-bottom: 20px;" class="gmap"></div>

								<script type="text/javascript">

									$('#google-map4').gMap({

										 address: 'F.E. Zuellig Ave, Mandaue City, Cebu, Philippines',
										 maptype: 'ROADMAP',
										 zoom: 15,
										 markers: [
											{
												latitude: 10.320653,
												longitude: 123.936760,
												html: "20-hectare Mandani Bay"
											}
										 ],
										 doubleclickzoom: false,
										 controls: {
											 panControl: true,
											 zoomControl: true,
											 mapTypeControl: false,
											 scaleControl: false,
											 streetViewControl: false,
											 overviewMapControl: false
										 }

									});

								</script>
							</div>

							<div id="snav-content2">
								
								<a class="col_full" href="{{ site.cdn }}/canvas/images/landing/master-plan-1140x500.jpg" data-lightbox="image"><img class="image_fade" src="{{ site.cdn }}/canvas/images/landing/master-plan-860x400.jpg" alt="Master Plan"></a>
								<h3>Master Planned for the Future</h3>
								<p>
								Mandani Bay will be primarily residential with retail and office components that will combine to form a master-planned urban community.Key features of the project are its strategic location and extensive water frontage.</p>
								<p>

Phase One will comprise two blocks of approximately <strong>1,200</strong> condominium units.  In addition to typical studio to 3-bedroom units there will be a number of special units including loft units, garden duplexes, townhouses and penthouses.  The project will also provide a range of leisure and recreational facilities as well as car parking.</p>

<p> Phase 1 is located close to the Mactan channel and many units will feature breathtaking sea views.  2 towers are scheduled for completion in <strong>2020</strong>. </p>
						
						
							</div>

							<div id="snav-content3">
								
								<h3>World Class Destination</h3>

								<p>
									The vision is to establish Mandaue as a desirable mixed-used hub of Cebu. A vision on par with other vibrant progressive cultural districts through out the world. 
								</p>

								<p>
									This can be attained by transforming the industrial & manufacturing district into a desirable lifestyle district. 
								</p>

								<p> There will be a Green Strip, this is inspired by New York's Central Park.. The Boulevard, a stretch along the main entrance, inspired by a famous street in Los Angeles. And of course, the Waterfront, inspired by the Marina Bay in Singapore.</p>

							</div>

							<div id="snav-content4">
								<a class="col_full" href="{{ site.cdn }}/canvas/images/landing/phase1-1140x500.jpg" data-lightbox="image"><img class="image_fade" src="{{ site.cdn }}/canvas/images/landing/phase1-860x400.jpg" alt="Mandani Bay Suites"></a>
								<h3>Mandani Bay Suites | Twin Towers</h3>
								<p>
								Open now for reservations is Phase 1, Towers 1 and 2, dubbed as Mandani Bay Suites.</p>

								<p>
								These two towers are estimated to be delivered Q1 of 2020. Unit owners will enjoy the first phase of the entire 20 hectare development.</p>
								
							</div>

							<div id="snav-content5" aria-labelledby="ui-id-5" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: block;">
								<a class="col_full" href="http://localhost:3000/images/mandani-floor-plan-landing-860x400.jpg" data-lightbox="image"><img class="image_fade" src="http://localhost:3000/images/mandani-floor-plan-landing-860x400.jpg" alt="Typical Floor Plan" style="opacity: 1;"></a>

								<h3>Typical Floor Plan</h3>
								<p> Mandani Suites consist of 2 Towers. </p>
								
								<table class="table">
							  <thead>
								<tr>
								  <th>Tower</th>
								  <th>Floor Config</th>
								  <th>Units per floor</th>
								</tr>
							  </thead>
							  <tbody>
								<tr>
								  <td>Tower 1</td>
								  <td>6/F - 29/F</td>
								  <td>19 floors</td>
								</tr>
								<tr>
								  <td>Tower 2</td>
								  <td>10/F - 26/F</td>
								  <td>35 floors</td>
								</tr>
							  </tbody>
							</table>

							</div>

							<div id="snav-content6">
								<h3>Units Offered</h3>
								<p> Mandani Suites offers a variety of Unit types. It boasts a spacious offering, starting with a bigger Studio unit compared to what is offered in the market today. </p>
								
								<table class="table">
							  <thead>
								<tr>
								  <th>Type</th>
								  <th>Min sqm</th>
								  <th>Max sqm</th>
								</tr>
							  </thead>
							  <tbody>
								<tr>
								  <td>STUDIO</td>
								  <td>29.75</td>
								  <td></td>
								</tr>
								<tr class="info">
								  <td>1 BR</td>
								  <td>45.05</td>
								  <td>65.70 + balcony</td>
								</tr>
								<tr>
								  <td>2 BR</td>
								  <td>60.30</td>
								  <td>65.70 + balcony</td>
								</tr>
								<tr class="info">
								  <td>2 BR+</td>
								  <td>76.50</td>
								  <td>81.90 + balcony</td>
								</tr>
								<tr>
								  <td>3 BR</td>
								  <td>102.07</td>
								  <td>107.47 + balcony</td>
								</tr>
							  </tbody>
							</table>

							</div>

							<div id="snav-content7">
								<h3>Premium Finish</h3>
								<p>Living and Dining Area have Homogenous Tiles flooring. Kitchen have cabinets and countertops. Bedroom has laminated flooring and closet.</p>
								<p>Toilet and Bath have ceramic tile flooring with wall painted walls. Maids/Utility Area are also finished with ceramic tiles. Walls and Ceilings are Painted.</p>
								
							</div>

							<div id="snav-content8">
								<h3>Residential Unit Specification</h3>
								
								<div class="panel panel-default">
						<!-- Default panel contents -->
							<div class="panel-heading">Specification</div>
							<div class="panel-body">
								<p>Phase 1 Residential Units will have the following.</p>
							</div>

							<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										<th>Specification</th>
										<th>Offered</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Heat Detector</td>
										<td>Kitchen</td>
									</tr>
									<tr>
										<td>Smoke Detector</td>
										<td>Living/Dining, Kitchen, Bedrooms</td>
									</tr>
									<tr>
										<td>Fire Sprinkler</td>
										<td>Living/Dining, Kitchen, Bedrooms</td>
									</tr>
									<tr>
										<td>Audio Guest Communicator</td>
										<td>Yes</td>
									</tr>
									<tr>
										<td>Telephone Lines</td>
										<td>1 Provision with extension to Bedrooms</td>
									</tr>
									<tr>
										<td>CATV Outlets</td>
										<td>Living/Dining, Bedrooms</td>
									</tr>
									<tr>
										<td>Provision for Multi-point Water Heater</td>
										<td>Master and Common T&B</td>
									</tr>
									<tr>
										<td>Provision for AC</td>
										<td>Split-Type</td>
									</tr>
									<tr>
										<td>Provision for Washer/Dryer</td>
										<td>Yes</td>
									</tr>
									<tr>
										<td>Peep Hole & Door Bell</td>
										<td>Main Door</td>
									</tr>
									
								</tbody>
							</table>
						</div>
							</div>

							

						</div>

					</div>

					<script>
					  $(function() {
						$( "#side-navigation" ).tabs({ show: { effect: "fade", duration: 400 } });
					  });
					</script>

				</div>

				<div class="section footer-stick">

					<div class="container clearfix">

						<div id="section-buy" class="heading-block title-center nobottomborder page-section">
							<h2>Find this useful? Share to your friends!</h2>
							<span>Now that you have read all the Tid-Bits, share this to your friends and families or you can contact your broker.</span>
						</div>

						<div class="center">

							<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.cebuhomepages.com/l/mandani/" target="_blank" data-animate="tada" class="button button-3d button-blue button-xlarge nobottommargin"><i class="icon-share"></i>Share on <i class="icon-facebook-sign icon-3"></i></a> - OR - <a href="tel:++639176312463" data-scrollto="#section-pricing" class="button button-3d btn-info button-xlarge nobottommargin"><i class="icon-phone3"></i>Call Luchelle</a>

						</div>

					</div>

				</div>

			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget clearfix">

								<img src="{{ site.logo | prepend: site.cdn }}" alt="">
								&nbsp;
								<br/>

								<p>We believe in <strong>Simplified</strong> Real Estate Transactions, <strong>Sound</strong> &amp; <strong>Well Informed</strong> Decisions.</p>

								<div style="background: url('{{ site.cdn}}/canvas/images/world-map.png') no-repeat center center; background-size: 100%;">
									<address>
										<strong>Our Home:</strong><br>
										Hernan Cortes Street, Brgy. Casuntingan<br>
										Mandaue City, CEBU, PH 6014<br>
									</address>
									<abbr title="Broker"></abbr> <strong>Luchelle Ann J. Cabigon</strong>
									<br>
									Licensed Real Estate Broker 
									<br>
									<abbr title="Phone Number"><strong>PRC License #:</strong></abbr> 006014<br>
									<abbr title="Phone Number"><strong>PTR #:</strong></abbr> 0589995<br>
									<abbr title="Phone Number"><strong>Phone:</strong></abbr> (63) 917 631 2463<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> luchelle@cebuhomepages.com
								</div>

							</div>

						</div>

						<div class="col_one_third">

							<div class="widget widget_links clearfix">

								<h4>Site Link</h4>

								<ul>
									<li><a href="{{ site.baseurl }}">Home Page</a></li>
									
								</ul>

							</div>

						</div>

						<div class="col_one_third col_last">

							<div class="widget clearfix">
								<h4>Recent Posts</h4>


								<div id="post-list-footer">
									{% for post in site.categories.blog offset: 0 limit: 3  %}
									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></h4>
											</div>
											<ul class="entry-meta">
												<li>{{ post.date | date_to_string }}</li>
											</ul>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>

						</div>

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								

								<div class="col-md-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Visitors</h5>
								</div>

							</div>

						</div>

						<div class="widget subscribe-widget clearfix">
							<h5><strong>Subscribe</strong> to Our Newsletter to get Real Estate Advise, Latest News and more info.</h5>
							<div id="widget-subscribe-form-result" data-notify-type="success" data-notify-msg=""></div>
							<form id="widget-subscribe-form" action="//cebuhomepages.us8.list-manage.com/subscribe/post?u=851943f628abfb51292daa61b&amp;id=bbc48c996e&c=?" role="form" method="post" class="nobottommargin">
								<div class="input-group divcenter">
									<span class="input-group-addon"><i class="icon-email2"></i></span>
									<input type="email" id="widget-subscribe-form-email" name="EMAIL" class="form-control required email" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
								</div>
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_851943f628abfb51292daa61b_bbc48c996e" tabindex="-1" value=""></div>
							</form>
							<script type="text/javascript">
								$("#widget-subscribe-form").validate({
									submitHandler: function(form) {
										$(form).find('.input-group-addon').find('.icon-email2').removeClass('icon-email2').addClass('icon-line-loader icon-spin');
										$(form).ajaxSubmit({
											data: $(form).serialize(),
											dataType: 'jsonp',
											target: '#widget-subscribe-form-result',
											success: function() {
												$(form).find('.input-group-addon').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');
												$('#widget-subscribe-form').find('.form-control').val('');
												$('#widget-subscribe-form-result').attr('data-notify-type','success');
												$('#widget-subscribe-form-result').attr('data-notify-msg', '<i class=icon-ok-sign></i>Thank you for Subscribing. Sent you a confirmation mail.').html('');
												SEMICOLON.widget.notifications($('#widget-subscribe-form-result'));
											},
											error: function() {
												$(form).find('.input-group-addon').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');
												$('#widget-subscribe-form').find('.form-control').val('');
												$('#widget-subscribe-form-result').attr('data-notify-type','success');
												$('#widget-subscribe-form-result').attr('data-notify-msg', '<i class=icon-ok-sign></i>Thank you for Subscribing. Sent you a confirmation mail.').html('');
												SEMICOLON.widget.notifications($('#widget-subscribe-form-result'));
											}
										});
									}
								});
							</script>
						</div>

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-md-6 clearfix bottommargin-sm">
									<a href="http://fb.me/cebuhomepages" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="http://fb.me/cebuhomepages"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
								</div>
								<div class="col-md-6 clearfix">
									<a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
										<i class="icon-rss"></i>
										<i class="icon-rss"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
								</div>

							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2016 All Rights Reserved by Cebu Home Pages.<br>
						<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="{{ '/privacy-policy/'' | prepend: site.baseurl }}">Privacy Policy</a></div>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
							<a href="http://fb.me/cebuhomepages" class="social-icon si-small si-borderless si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="http://google.com/+Cebuhomepages" class="social-icon si-small si-borderless si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

						</div>

						<div class="clear"></div>

						<i class="icon-envelope2"></i> luchelle@cebuhomepages.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +63-917-631-2463 <span class="middot">&middot;</span> <i class="icon-skype2"></i> cebuhomepages
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<div id="widget-subscribe-listing-form-result" data-toggle="modal" data-target="#mailchimpModal"></div>
					<div class="modal" id="mailchimpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
							<div class="modal-dialog">
								<div class="modal-body">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h4 class="modal-title" id="myModalLabel">Almost There</h4>
										</div>
										<div class="modal-body">
											<h3>One More Step</h3>
											<p>We sent you a confirmation through your email. Kindly click on the confirmation button to proceed with your subscription.</p>

											<p>Thank you and looking forward to meeting you.</p>

											
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<a target="_blank" class="btn btn-primary open-mail-client">Open Mail</a>
										</div>
									</div>
								</div>
							</div>
						</div>



	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="{{ site.cdn }}/canvas/js/functions.js"></script>

</body>
</html>