---

is_blog: true
---
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    {% include secure-site.html %}

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="@ninjapawikan" />
    

	{% include fb-meta.html %}

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Roboto:300,400,500,700|Rubik:400,600" rel="stylesheet">
	<link rel="stylesheet" href="/assets/4.5.1/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/assets/4.5.1/style.css" type="text/css" />
	<link rel="stylesheet" href="/assets/4.5.1/css/dark.css" type="text/css" />

	<!-- Real Estate Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/assets/4.5.1/demos/real-estate/real-estate.css" type="text/css" />
	<link rel="stylesheet" href="/assets/4.5.1/demos/real-estate/css/font-icons.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="/assets/4.5.1/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/assets/4.5.1/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/assets/4.5.1/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/assets/4.5.1/demos/real-estate/fonts.css" type="text/css" />

	<!-- Bootstrap Select CSS -->
	<link rel="stylesheet" href="/assets/4.5.1/css/components/bs-select.css" type="text/css" />

	<!-- Bootstrap Switch CSS -->
	<link rel="stylesheet" href="/assets/4.5.1/css/components/bs-switches.css" type="text/css" />

	<!-- Range Slider CSS -->
	<link rel="stylesheet" href="/assets/4.5.1/css/components/ion.rangeslider.css" type="text/css" />

	<link rel="stylesheet" href="/assets/4.5.1/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="/assets/4.5.1/css/colors.php?color=2C3E50" type="text/css" />

	<!-- Document Title
	============================================= -->
    <title>Cebu Home Pages</title>
    {% include fb-wca.html %}
	{% include analytics.html %}

</head>

<body class="stretched side-push-panel">

    	{% include adwords-conversion-tracking.html %}
        {% include fb-sdk.html %}

	<div id="side-panel">

		<div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

		<div class="side-panel-wrap">

			<div class="widget clearfix">

				<h4 class="t400">Login with Social Profiles</h4>

				<a href="#" class="button button-rounded t400 btn-block center si-colored noleftmargin si-facebook">Facebook</a>
				<a href="#" class="button button-rounded t400 btn-block center si-colored noleftmargin si-gplus">Google</a>

				<div class="line"></div>

				<h4 class="t400">Existing Account?</h4>

				<form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">

					<div class="col_full">
						<label for="login-form-username" class="t400">Username:</label>
						<input type="text" id="login-form-username" name="login-form-username" value="" class="form-control" />
					</div>

					<div class="col_full">
						<label for="login-form-password" class="t400">Password:</label>
						<input type="password" id="login-form-password" name="login-form-password" value="" class="form-control" />
					</div>

					<div class="col_full nobottommargin">
						<button class="button button-rounded t400 nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
						<a href="#" class="fright">Forgot Password?</a>
					</div>

				</form>


			</div>

		</div>

	</div>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar" class="full-topbar dark">

			<div class="container clearfix">

				<div class="col_half nobottommargin clearfix">

					<!-- Top Links
					============================================= -->
					<div class="top-links">
						<ul>
							<li><a href="#">All Cities</a>
								<ul>
									<li><a href="#">Cebu City</a></li>
									<li><a href="#">Mandaue</a></li>
									<li><a href="#">Mactan</a></li>
									<li><a href="#">Talisay</a></li>
									<li><a href="#">Consolacion</a></li>
									<li><a href="#">South Cebu</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- .top-links end -->

				</div>

				<div class="col_half fright col_last clearfix nobottommargin">

					<!-- Top Links
					============================================= -->
					<div class="top-links">
						<ul>
							<li class="hidden-sm"><a href="#"><i class="icon-call"></i> +63-917-631-2463</a></li>
							<li class="top-bar-highlight"><a href="#">Sell/Rent your Property</a>
								<div class="top-link-section" style="font-size: 14px;">
									Genuine Clients, 100% Trust Assurance and Lowest Fees on the Market. <a href="#" class="more-link font-secondary" style="border-bottom-style: dotted;">Learn More &rarr;</a>
								</div>
							</li>
							
						</ul>
					</div><!-- .top-links end -->

				</div>

			</div>

		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header" class="full-header dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" data-dark-logo="/assets/4.5.1/demos/real-estate/images/logo.png" class="standard-logo"><img src="/assets/4.5.1/demos/real-estate/images/logo.png" alt="Canvas Logo"></a>
						<a href="index.html" data-dark-logo="/assets/4.5.1/demos/real-estate/images/logo@2x.png" class="retina-logo"><img src="/assets/4.5.1/demos/real-estate/images/logo@2x.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="with-arrows">

						<ul>
							<li class="current"><a href="#"><div>Home</div></a></li>
							<li><a href="#"><div>About Us</div></a></li>
							<li><a href="#"><div>Properties</div></a>
								<ul>
									<li><a href="#"><div>Condo Apartments</div></a></li>
									<li><a href="#"><div>House and Lot</div></a></li>
								</ul>
							</li>
							<li><a href="#"><div>Developers</div></a></li>
							<li><a href="#"><div>Services</div></a></li>
							<li><a href="#"><div>News</div></a></li>
							<li><a href="#"><div>Contact</div></a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Content
		============================================= -->
		<section id="content">
<!-- Content
		============================================= -->
		<section id="content">
            
            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin clearfix">

                        <div class="single-post nobottommargin">

                            <!-- Single Post
                            ============================================= -->
                            <div class="entry clearfix">

                                <!-- Entry Title
                                ============================================= -->
                                <div class="entry-title">
                                    <h2>{{ page.title }}</h2>
                                </div><!-- .entry-title end -->

                                <!-- Entry Meta
                                ============================================= -->
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> {{ page.date_text }}</li>
                                    <li><a href="#"><i class="icon-user"></i> {{ page.author }}</a></li>
                                    <li><i class="icon-folder-open"></i> <a href="#">General</a>, <a href="#">Media</a></li>
                                    <li><a href="#"><i class="icon-camera-retro"></i></a></li>
                                </ul><!-- .entry-meta end -->

                                <!-- Entry Image
                                ============================================= -->
                                <div class="entry-image">
                                    <a href="#"><img src="{{ page.entry_image }}" alt="Blog Single"></a>
                                </div><!-- .entry-image end -->

                                <!-- Entry Content
                                ============================================= -->
                                <div class="entry-content notopmargin">

                                    {{ content }}

                                    <!-- Tag Cloud
                                    ============================================= -->
                                    <div class="tagcloud clearfix bottommargin">
                                        <a href="#">general</a>
                                        <a href="#">information</a>
                                        <a href="#">media</a>
                                        <a href="#">press</a>
                                        <a href="#">gallery</a>
                                        <a href="#">illustration</a>
                                    </div><!-- .tagcloud end -->

                                    <div class="clear"></div>

                                    <!-- Post Single - Share
                                    ============================================= -->
                                    <div class="si-share noborder clearfix">
                                        <span>Share this Post:</span>
                                        <div>
                                            <a href="#" class="social-icon si-borderless si-facebook">
                                                <i class="icon-facebook"></i>
                                                <i class="icon-facebook"></i>
                                            </a>
                                            <a href="#" class="social-icon si-borderless si-twitter">
                                                <i class="icon-twitter"></i>
                                                <i class="icon-twitter"></i>
                                            </a>
                                            <a href="#" class="social-icon si-borderless si-pinterest">
                                                <i class="icon-pinterest"></i>
                                                <i class="icon-pinterest"></i>
                                            </a>
                                            <a href="#" class="social-icon si-borderless si-gplus">
                                                <i class="icon-gplus"></i>
                                                <i class="icon-gplus"></i>
                                            </a>
                                            <a href="#" class="social-icon si-borderless si-rss">
                                                <i class="icon-rss"></i>
                                                <i class="icon-rss"></i>
                                            </a>
                                            <a href="#" class="social-icon si-borderless si-email3">
                                                <i class="icon-email3"></i>
                                                <i class="icon-email3"></i>
                                            </a>
                                        </div>
                                    </div><!-- Post Single - Share End -->

                                </div>
                            </div><!-- .entry end -->

                            <!-- Post Navigation
                            ============================================= -->
                            <div class="post-navigation clearfix">

                                <div class="col_half nobottommargin">
                                    <a href="#">&lArr; This is a Standard post with a Slider Gallery</a>
                                </div>

                                <div class="col_half col_last tright nobottommargin">
                                    <a href="#">This is an Embedded Audio Post &rArr;</a>
                                </div>

                            </div><!-- .post-navigation end -->

                            <div class="line"></div>

                            <!-- Post Author Info
                            ============================================= -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Posted by <span><a href="#"> {{ page.author }}</a></span></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="author-image">
                                        <img src="images/author/1.jpg" alt="" class="img-circle">
                                    </div>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet, eligendi et nobis neque minus mollitia sit repudiandae ad repellendus recusandae blanditiis praesentium vitae ab sint earum voluptate velit beatae alias fugit accusantium laboriosam nisi reiciendis deleniti tenetur molestiae maxime id quaerat consequatur fugiat aliquam laborum nam aliquid. Consectetur, perferendis?
                                </div>
                            </div><!-- Post Single - Author End -->

                            <div class="line"></div>

                            <!-- Comments
                            ============================================= -->
                            <div id="comments" class="clearfix">
                                <!-- Comment Form
                                ============================================= -->
                                <div id="respond" class="clearfix">

                                    <h3>Email me your <span>Comment</span></h3>

                                    <form class="clearfix" action="#" method="post" id="commentform">

                                        <div class="col_one_third">
                                            <label for="author">Name</label>
                                            <input type="text" name="author" id="author" value="" size="22" tabindex="1" class="sm-form-control" />
                                        </div>

                                        <div class="col_one_third">
                                            <label for="email">Email</label>
                                            <input type="text" name="email" id="email" value="" size="22" tabindex="2" class="sm-form-control" />
                                        </div>

                                        <div class="col_one_third col_last">
                                            <label for="url">Website</label>
                                            <input type="text" name="url" id="url" value="" size="22" tabindex="3" class="sm-form-control" />
                                        </div>

                                        <div class="clear"></div>

                                        <div class="col_full">
                                            <label for="comment">Comment</label>
                                            <textarea name="comment" cols="58" rows="7" tabindex="4" class="sm-form-control"></textarea>
                                        </div>

                                        <div class="col_full nobottommargin">
                                            <button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-3d nomargin">Submit Comment</button>
                                        </div>

                                    </form>

                                </div><!-- #respond end -->

                            </div><!-- #comments end -->

                        </div>

                    </div><!-- .postcontent end -->

                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar nobottommargin col_last clearfix">
                        <div class="sidebar-widgets-wrap">

                            <div class="widget widget-twitter-feed clearfix">

                                <h4>Message Me on Facebook</h4>
                                
                                <a href="http://m.me/cebuhomepages" class="btn btn-default btn-sm fright">Send A Message</a>

                            </div>

                        </div>

                    </div><!-- .sidebar end -->

                </div>

            </div>

        </section><!-- #content end -->
            

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_fifth">

						<div class="widget clearfix">

							<img src="/assets/4.5.1/demos/real-estate/images/logo@2x.png" style="position: relative; opacity: 0.85; left: -10px; max-height: 80px; margin-bottom: 20px;" alt="Footer Logo">

							<p>We believe in <strong>Simplified</strong>, <strong>Real Estate Transactions,</strong> &amp; <strong>Sound</strong> Well Informed Decisions.</p>

							<div class="line" style="margin: 30px 0;"></div>

							<p class="ls1 t300" style="opacity: 0.6; font-size: 13px;">Copyrights &copy; 2018 Cebu Home Pages</p>

						</div>

					</div>

					<div class="col_three_fifth col_last">

						<div class="col_half">
							<div class="row">

								<h4 class="ls1 t400 uppercase">Popular Locations</h4>

								<div class="col-xs-6 bottommargin-sm widget_links widget_real_estate_popular">
									<ul>
										<li><a href="#"><i class="icon-map-marker2"></i> Cebu</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> Nevada</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> Hawaii</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> Washington</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> Ottawa</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> Virginia</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> Ohio</a></li>
									</ul>
								</div>

								<div class="col-xs-6 bottommargin-sm widget_links widget_real_estate_popular">
									<ul>
										<li><a href="#"><i class="icon-map-marker2"></i> Oregon</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> Colorado</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> Kentucky</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> Texas</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> Miami</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> New York</a></li>
										<li><a href="#"><i class="icon-map-marker2"></i> New Jersey</a></li>
									</ul>
								</div>

							</div>
						</div>

						<div class="col_half col_last">

							<h4 class="ls1 t400 uppercase">Connect Socially</h4>

							<div class="bottommargin-sm clearfix">
								<a href="https://facebook.com/cebuhomepages" class="social-icon si-colored si-small si-rounded si-facebook" title="Facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="https://twitter.com/cebuhomepages" class="social-icon si-colored si-small si-rounded si-twitter" title="Twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="https://instagram.com/cebuhomepages" class="social-icon si-colored si-small si-rounded si-instagram" title="Instagram">
									<i class="icon-instagram"></i>
									<i class="icon-instagram"></i>
								</a>

								<a href="https://skype.com/cebuhomepages" class="social-icon si-colored si-small si-rounded si-skype" title="Skype">
									<i class="icon-skype"></i>
									<i class="icon-skype"></i>
								</a>
							</div>

							<div class="widget subscribe-widget subscribe-form clearfix" data-loader="button">
								<div class="widget-subscribe-form-result"></div>
								<form action="include/subscribe.php" role="form" method="post" class="nobottommargin">
									<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="sm-form-control not-dark required email" placeholder="Enter your Email">
									<button class="button button-3d button-black noleftmargin norightmargin" style="margin-top: 15px;" type="submit">Subscribe</button>
								</form>
							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="/assets/4.5.1/js/jquery.js"></script>
	<script type="text/javascript" src="/assets/4.5.1/js/plugins.js"></script>

	<!-- Google Map JavaScripts
	============================================= -->
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAO2BYvn4xyrdisvP8feA4AS_PGZFxJDp4"></script>
	<script type="text/javascript" src="/assets/4.5.1/js/jquery.gmap.js"></script>

	<!-- Bootstrap Select Plugin -->
	<script type="text/javascript" src="/assets/4.5.1/js/components/bs-select.js"></script>

	<!-- Bootstrap Switch Plugin -->
	<script type="text/javascript" src="/assets/4.5.1/js/components/bs-switches.js"></script>

	<!-- Range Slider Plugin -->
	<script type="text/javascript" src="/assets/4.5.1/js/components/rangeslider.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
    <script type="text/javascript" src="/assets/4.5.1/js/functions.js"></script>
    
    {% include adwords-remarketing.html %}

</body>
</html>