<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	{% include secure-site.html %}

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="iancabigon.me" />

	{% include fb-meta.html %}

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ site.root.css | prepend: site.cdn }}/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.root.r | prepend: site.cdn }}/style.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.root.css | prepend: site.cdn }}/font-icons.css" type="text/css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

	{% if page.is_dark %}
	<link rel="stylesheet" href="{{ site.root.css | prepend: site.cdn }}/dark.css" type="text/css" />
	{% endif %}

	{% if page.custom_css %}
  	  {% for css_file in page.custom_css %}
  		<link rel="stylesheet" href="{{ site.root.css | prepend: site.cdn }}/{{ css_file }}.css" type="text/css" />
  	  {% endfor %}
	{% endif %}
	<link rel="stylesheet" href="{{ site.root.css | prepend: site.cdn }}/animate.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.root.css | prepend: site.cdn }}/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="{{ site.root.css | prepend: site.cdn }}/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<!-- Document Title
	============================================= -->
	<title>{{ page.title }}</title>

	{% include fb-wca.html %}
	{% include analytics.html %}

</head>

<body class="stretched" data-loader-timeout="2000">

	{% include adwords-conversion-tracking.html %}
  	{% include fb-sdk.html %}

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header page-section dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="{{ site.baseurl }}/l/{{ page.l.index }}" class="standard-logo" data-dark-logo="{{ site.cdn }}/canvas/images/{{ page.l.logo }}"><img src="{{ site.cdn }}/canvas/images/{{ page.l.logo }}" alt="{{ page.l.alt }}"></a>
						<a href="{{ site.baseurl }}/l/{{ page.l.index }}" class="retina-logo" data-dark-logo="{{ site.cdn }}/canvas/images/{{ page.l.logo2x }}"><img src="{{ site.cdn }}/canvas/images/{{ page.l.logo2x }}" alt="{{ page.l.alt }}"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul class="one-page-menu">
							{% for menu in page.l.menus %}
							   {% if menu.is_current == true %}
							      <li><a class="current" href="#"><div>{{ menu.name }}</div></a></li>
							   {% elsif menu.url != '#' %}
							      <li><a href="{{ site.baseurl }}{{ menu.url }}"><div>{{ menu.name }}</div></a></li>
							   {% else %}
							       <li><a href="#"><div>{{ menu.name }}</div></a></li>
							   {% endif %}
							{% endfor %}
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		{{ content }}

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget clearfix">

								<img src="{{ site.logo | prepend: site.cdn }}" alt="">
								&nbsp;
								<br/>

								<p>We believe in <strong>Simplified</strong> Real Estate Transactions, <strong>Sound</strong> &amp; <strong>Well Informed</strong> Decisions.</p>

								<div style="background: url('{{ site.cdn}}/canvas/images/world-map.png') no-repeat center center; background-size: 100%;">
									<address>
										<strong>Our Home:</strong><br>
										Hernan Cortes Street, Brgy. Casuntingan<br>
										Mandaue City, CEBU, PH 6014<br>
									</address>
									<abbr title="Broker"></abbr> <strong>Luchelle Ann J. Cabigon</strong>
									<br>
									Licensed Real Estate Broker 
									<br>
									<abbr title="Phone Number"><strong>PRC License #:</strong></abbr> 006014<br>
									<abbr title="Phone Number"><strong>PTR #:</strong></abbr> 0589995<br>
									<abbr title="Phone Number"><strong>Phone:</strong></abbr> (63) 917 631 2463<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> luchelle@cebuhomepages.com
								</div>

							</div>

						</div>

						<div class="col_one_third">

							<div class="widget widget_links clearfix">

								<h4>Site Link</h4>

								<ul>
									<li><a href="{{ site.baseurl }}">Home Page</a></li>
									
								</ul>

							</div>

						</div>

						<div class="col_one_third col_last">

							<div class="widget clearfix">
								<h4>Recent Posts</h4>


								<div id="post-list-footer">
									{% for post in site.categories.blog offset: 0 limit: 3  %}
									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></h4>
											</div>
											<ul class="entry-meta">
												<li>{{ post.date | date_to_string }}</li>
											</ul>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>

						</div>

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								

								<div class="col-md-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Visitors</h5>
								</div>

							</div>

						</div>

						<div class="widget subscribe-widget clearfix">
							<h5><strong>Subscribe</strong> to Our Newsletter to get Real Estate Advise, Latest News and more info.</h5>
							<div id="widget-subscribe-form-result" data-notify-type="success" data-notify-msg=""></div>
							<form id="widget-subscribe-form" action="//cebuhomepages.us8.list-manage.com/subscribe/post?u=851943f628abfb51292daa61b&amp;id=bbc48c996e&c=?" role="form" method="post" class="nobottommargin">
								<div class="input-group divcenter">
									<span class="input-group-addon"><i class="icon-email2"></i></span>
									<input type="email" id="widget-subscribe-form-email" name="EMAIL" class="form-control required email" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
								</div>
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_851943f628abfb51292daa61b_bbc48c996e" tabindex="-1" value=""></div>
							</form>
							
						</div>

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-md-6 clearfix bottommargin-sm">
									<a href="http://fb.me/cebuhomepages" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="http://fb.me/cebuhomepages"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
								</div>
								<div class="col-md-6 clearfix">
									<a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
										<i class="icon-rss"></i>
										<i class="icon-rss"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
								</div>

							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2016 All Rights Reserved by Cebu Home Pages.<br>
						<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="{{ '/privacy-policy/'' | prepend: site.baseurl }}">Privacy Policy</a></div>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
							<a href="http://fb.me/cebuhomepages" class="social-icon si-small si-borderless si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="http://google.com/+Cebuhomepages" class="social-icon si-small si-borderless si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

						</div>

						<div class="clear"></div>

						<i class="icon-envelope2"></i> luchelle@cebuhomepages.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +63-917-631-2463 <span class="middot">&middot;</span> <i class="icon-skype2"></i> cebuhomepages
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->
		

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="{{ site.root.js | prepend: site.cdn }}/jquery.js"></script>
	<script type="text/javascript" src="{{ site.root.js | prepend: site.cdn }}/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="{{ site.root.js | prepend: site.cdn }}/functions.js"></script>
	{% if page.include_map %}
	<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
	<script type="text/javascript" src="{{ site.root.js | prepend: site.cdn }}/jquery.gmap.js"></script>

	<script type="text/javascript">
		$('#{{ page.map.id }}').gMap({
			 aaddress: '{{ page.map.address }}',
			 maptype: 'ROADMAP',
			 zoom: {{ page.map.zoom }},
			 markers: [
				{
					latitude: 10.320653,
					longitude: 123.936760,
					html: "{{ page.map.html_desc }}"
				}
			 ],
			 doubleclickzoom: false,
			 controls: {
				 panControl: true,
				 zoomControl: true,
				 mapTypeControl: false,
				 scaleControl: false,
				 streetViewControl: false,
				 overviewMapControl: false
			}
		});
	</script>
	{% endif %}

	<script type="text/javascript">
	$("#widget-subscribe-form").validate({
		submitHandler: function(form) {
			$(form).find('.input-group-addon').find('.icon-email2').removeClass('icon-email2').addClass('icon-line-loader icon-spin');
			$(form).ajaxSubmit({
				data: $(form).serialize(),
				dataType: 'jsonp',
				target: '#widget-subscribe-form-result',
				success: function() {
					$(form).find('.input-group-addon').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');
					$('#widget-subscribe-form').find('.form-control').val('');
					$('#widget-subscribe-form-result').attr('data-notify-type','success');
					$('#widget-subscribe-form-result').attr('data-notify-msg', '<i class=icon-ok-sign></i>Thank you for Subscribing. Sent you a confirmation mail.').html('');
					SEMICOLON.widget.notifications($('#widget-subscribe-form-result'));
				},
				error: function() {
					$(form).find('.input-group-addon').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');
					$('#widget-subscribe-form').find('.form-control').val('');
					$('#widget-subscribe-form-result').attr('data-notify-type','success');
					$('#widget-subscribe-form-result').attr('data-notify-msg', '<i class=icon-ok-sign></i>Thank you for Subscribing. Sent you a confirmation mail.').html('');
					SEMICOLON.widget.notifications($('#widget-subscribe-form-result'));
				}
			});
		}
	});
	</script>


	{% if page.custom_js %}
  	  {% for js_file in page.custom_js %}
  		<script src='{{ site.root.js | prepend: site.cdn }}/{{ js_file }}.js' type="text/javascript"></script>
  	  {% endfor %}
	{% endif %}

	{% include adwords-remarketing.html %}

</body>
</html>